<a href="https://colab.research.google.com/github/honghanhh/mci_python_33a8_l1/blob/main/maihuong_assign1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ecommerce Purchases Exercise

In this Exercise you will be given some Fake Data about some purchases done through Amazon! Just go ahead and follow the directions and try your best to answer the questions and complete the tasks. Most of the tasks can be solved in different ways. For the most part, the questions get progressively harder.

Please excuse anything that doesn't make "Real-World" sense in the dataframe, all the data is fake and made-up.

Also note that all of these questions can be answered with one line of code.

**Import pandas and read in the Ecommerce Purchases csv file and set it to a DataFrame called ecom.**

In [1]:
import numpy as np
import pandas as pd

In [2]:
ecom = pd.read_csv("https://raw.githubusercontent.com/honghanhh/mci_python_33a8_l1/main/Assignments/D5_Pandas/Assignments/Ecommerce%20Purchases-Copy1")
ecom

                                                Address  ... Purchase Price
0     16629 Pace Camp Apt. 448\nAlexisborough, NE 77...  ...          98.14
1     9374 Jasmine Spurs Suite 508\nSouth John, TN 8...  ...          70.73
2                      Unit 0065 Box 5052\nDPO AP 27450  ...           0.95
3                 7780 Julia Fords\nNew Stacy, WA 45798  ...          78.04
4     23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...  ...          77.82
...                                                 ...  ...            ...
9995      966 Castaneda Locks\nWest Juliafurt, CO 96415  ...          82.21
9996  832 Curtis Dam Suite 785\nNorth Edwardburgh, T...  ...          25.63
9997              Unit 4434 Box 6343\nDPO AE 28026-0283  ...          83.98
9998               0096 English Rest\nRoystad, IA 12457  ...          38.84
9999     40674 Barrett Stravenue\nGrimesville, WI 79682  ...          67.59

[10000 rows x 14 columns]

**Check the head of the DataFrame.**  
Hint: use `pd.DataFrame.head()`

In [4]:
ecom.head(5)

                                             Address  ... Purchase Price
0  16629 Pace Camp Apt. 448\nAlexisborough, NE 77...  ...          98.14
1  9374 Jasmine Spurs Suite 508\nSouth John, TN 8...  ...          70.73
2                   Unit 0065 Box 5052\nDPO AP 27450  ...           0.95
3              7780 Julia Fords\nNew Stacy, WA 45798  ...          78.04
4  23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...  ...          77.82

[5 rows x 14 columns]

**How many rows and columns are there?**  
Hint: use `pd.DataFrame.info()`

In [5]:
ecom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

**What is the average Purchase Price?**  
Hint: use `pd.Series.mean()`

In [8]:
purchase_series = ecom['Purchase Price'].squeeze()

In [9]:
purchase_series.mean()

50.34730200000025

**What were the highest and lowest purchase prices?**  
Hint: use `pd.Series.max() & pd.Series.min()`

In [10]:
purchase_series.max()

99.99

In [11]:
purchase_series.min()

0.0

**How many people have English 'en' as their Language of choice on the website?**  
Hint: use masking to check which row with "Language" == 'en', then use the boolean series to get those rows, then use `pd.DataFrame.count()`

In [20]:
ecom.loc[ecom['Language'].values=='en'].count()

Address             1098
Lot                 1098
AM or PM            1098
Browser Info        1098
Company             1098
Credit Card         1098
CC Exp Date         1098
CC Security Code    1098
CC Provider         1098
Email               1098
Job                 1098
IP Address          1098
Language            1098
Purchase Price      1098
dtype: int64

**How many people have the job title of "Lawyer" ?**  
Hint: similar with the above question but let's use `pd.DataFrame.info()` instead

In [21]:
ecom.loc[ecom['Job'].values=='Lawyer'].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 470 to 9979
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           30 non-null     object
 1   Lot               30 non-null     object
 2   AM or PM          30 non-null     object
 3   Browser Info      30 non-null     object
 4   Company           30 non-null     object
 5   Credit Card       30 non-null     int64
 6   CC Exp Date       30 non-null     object
 7   CC Security Code  30 non-null     int64
 8   CC Provider       30 non-null     object
 9   Email             30 non-null     object
 10  Job               30 non-null     object
 11  IP Address        30 non-null     object
 12  Language          30 non-null     object
 13  Purchase Price    30 non-null     float64
dtypes: float64(1), int64(2), object(11)
memory usage: 3.5+ KB

**How many people made the purchase during the AM and how many people made the purchase during PM ?-**

**(Hint: Check out [value_counts()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html) ) **

In [33]:
ecom['AM or PM'].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

**What are the 5 most common Job Titles?**  
Hint: similar to the above question, then use `head()`

In [32]:
ecom['Job'].value_counts().head(5)

Interior and spatial designer        31
Lawyer                               30
Social researcher                    28
Purchasing manager                   27
Research officer, political party    27
Name: Job, dtype: int64

**Someone made a purchase that came from Lot: "90 WT" , what was the Purchase Price for this transaction?**

In [39]:
ecom.loc[ecom['Lot'].values == '90 WT','Purchase Price']

513    75.1
Name: Purchase Price, dtype: float64

**What is the email of the person with the following Credit Card Number: 4926535242672853**

In [41]:
ecom.loc[ecom['Credit Card'].values == 4926535242672853,'Email']

1234    bondellen@williams-garza.com
Name: Email, dtype: object

**How many people have American Express as their Credit Card Provider *and* made a purchase above $95?**

In [46]:
ecom[(ecom['CC Provider'] == 'American Express') & (ecom['Purchase Price'] > 95)].count()

Address             39
Lot                 39
AM or PM            39
Browser Info        39
Company             39
Credit Card         39
CC Exp Date         39
CC Security Code    39
CC Provider         39
Email               39
Job                 39
IP Address          39
Language            39
Purchase Price      39
dtype: int64

# Great Job!