# Ex - GroupBy

### Introduction:

GroupBy can be summarized as Split-Apply-Combine.

### Import the necessary libraries

In [1]:
import pandas as pd

### Import the dataset & Assign it to a variable called drinks.

In [2]:
drinks = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv')
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

### Average 'beer_servings' for each continent?

### For each continent, print the statistics for wine consumption.

### Print the mean alcohol consumption per continent for every column

### Print the median alcohol consumption per continent for every column

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame