# <center> CAPSTONE PROJECTS </center>

## 1: PYTHON'S FOUNDATION

#### Question 1.1:

Given a string `s` consists of some words separated by spaces, return the length of the last word in the string. If the last word does not exist, return 0. A word is a maximal substring consisting of non-space characters only.

|Input   |Function                                                    | Output|
|-|-|-|
|`s="Hello World"` |Check the last word `World` has how many characters?|   5   |
|`s=" "`           |Check the last word ` ` has how many characters?    |   0   |

In [13]:
def len_last_word(s):
    x=s.split()
    return 0 if len(x)==0 else len(x[-1])

In [14]:
s = 'hello world'
len_last_word(s)

5

In [15]:
s = "Hello World"
assert len_last_word(s) == 5, "Wrong answer, please calculate again"

s = " "
assert len_last_word(s) == 0, "Wrong answer, please calculate again"

#### Question 1.2:

An integer `d` is a divisor of an integer `n` if `n % d = 0`.
Given an integer `n`, count the number of `d` occuring within the integer.

**Examples**:

|Input   |Function                                        | Output|
|-|-|-|
|`n=124` |Check if `1`,`2`, and `4`  are divisors of `124`|   3   |
|`n=100` |Check if `1` and `0` are divisors of `100`      |   1   |
|`n=13`  |Check if `1`  and `3`  are divisors of `13`     |   1   |

Hints: using `loops` (i.e `for`, ...) or `comprehension`.

In [46]:
def find_digits (n):
    n1 = n
    count = 0
    while n1 != 0:
        d = n1 % 10
        n1 //= 10

        if d > 0 and n % d == 0:
            count += 1
    return count

In [47]:
n = 100
countDigit(n)

1

In [48]:
n = 124
assert find_digits(n) == 3, "Wrong answer, please calculate again"

n = 100
assert find_digits(n) == 1, "Wrong answer, please calculate again"

n = 13
assert find_digits(n) == 1, "Wrong answer, please calculate again"

## 2: NUMPY, PANDAS

### Question 1.2: NumPy

Given an array of 2 dimension `A`, return the minimum value of the second dimension.
For examples:

|Input|Output|
|-|-|
|```A = np.array([[2, 59],[3, 17], [1, 33], [45, 0]])```|`[2 3 1 0]`|
|```A = np.array([[22, 21],[35, 1], [12, 3], [5, 80]])```|`[21 1 3 5]`|

In [51]:
def min_value(A):
    l = []

    for i in range (0, len(A)):
        if A[i][0] > A[i][1]:
            l.append(A[i][1])
        else: 
            l.append(A[i][0]) 

    return l

In [52]:
import numpy as np
A = np.array([[2, 5], [3, 7], [1, 3], [4, 0]])
min_value(A)

[2, 3, 1, 0]

### Question 2.2: Pandas

#### Step 1. Import the necessary libraries

In [53]:
import pandas as pd

#### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user) and assign it to a variable called `users`.

In [55]:
users = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', sep = '|')

In [57]:
users.head()

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

#### Step 3. Select all records of women whose age is between 20 and 40 that work as technician.

In [68]:
users[(users ['gender'] == 'F') & (users['age'] >= 20) & (users['age'] <= 40) & (users['occupation'] == 'technician')].head(3)

     user_id  age gender  occupation zip_code
937      938   38      F  technician    55038

#### Step 4. For each occupation, calculate the minimum and maximum ages

## 3: VISUALIZATION

#### Step 1. Import the necessary libraries (seaborn, matplotlib)

#### Step 2. Import the dataset `titanic` from `sns.load_dataset()` and assign it to a variable called `titanic`.

#### Step 3: Plot distribution of 'fare' using `sns.histplot()`

#### Step 4: Plot distribution of 'age' with 3 difference `class` using `sns.boxplot()`

#### Step 5: Plot correlation matrix using `sns.heatmap()`

## 4: MACHINE LEARNING with PIMA INDIANS DIABETES DATASET

The Pima Indian Diabetes Dataset, originally from the National Institute of Diabetes and Digestive and Kidney Diseases, contains information of 768 women from a population near Phoenix, Arizona, USA. The outcome tested was Diabetes, 258 tested positive and 500 tested negative. Therefore, there is one target (dependent) variable `Outcome` and the following attributes (TYNECKI, 2018):

|        Features        |Descriptions|
|           -            |-|
|Pregnancies             |Number of times pregnant|
|Glucose                 |Oral glucose tolerance test - OGTT (two hour plasma glucose concentration after 75g anhydrous glucose in mg/dl)|
|BloodPressure           |Blood Pressure (Diastolic Blood Pressure in mmHg)|
|SkinThickness           |Skin Thickness (Triceps skin fold thickness in mm)|
|Insulin                 |Insulin (2 h serum insulin in mu U/ml)|
|BMI                     |BMI (Body Mass Index in kg/m2)|
|DiabetesPedigreeFunction| Pedigree Diabetes Function ('function that represents how likely they are to get the disease by extrapolating from their ancestor’s history')|
|Age                     |Age (years)|


The objective of this capstone project is to use Machine Learning (e.g, logistic regression, svm, random forest, ...) to predict whether a patient has diabetes or not (binary classification) given 7 features mentionned above.

#### Step 1. Import the necessary libraries (pandas, numpy, seaborn, sklearn)

#### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/npradaschnor/Pima-Indians-Diabetes-Dataset/master/diabetes.csv) and assign it to a variable called `pima`.

#### Step 3. Check the DataFrame Information, Descriptive Statistics and Analysis of dataset
**Hints**: Check dimension of the data, data type for each attribute, describe the distribution for each attribute, the percentage of missing values, detect ouliers, ...

#### Step 4. EDA & Visualization 
**Hints**: Plot attributes distributions, correlation, pairplot to find insights in attributes combinations, ...

#### Step 5. Feature Engineering
**Hints**: Handle missing values, outliers, transform original attributes to meaningful features,...

#### Step 6. Train models
**Hints**: `LogisticRegression`, `SVM`,...

#### Step 7. Predict on new data

#### Step 8. Evaluate the model
**Hints**: Suggested metrics include `accuracy_score`, `confusion_matrix`,`classification_report`,...