![](https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Pandas_logo.svg/1200px-Pandas_logo.svg.png)

# <center> BÀI 6: THỰC HÀNH CÙNG PANDAS </center>

## I. Know your dataset

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

### Step 3. Assign it to a variable called `chipo`.

In [3]:
chipo = pd.read_csv(url,sep = '\t') # Nếu ko điền sep và del thì pd sẽ hiểu là dấu , là dấu để chia tách các cột trong bảng dữ liệu.
# tuy nhiên trong bảng đang cách nhau bởi dấu tab chứ kp dấu phẩy.

In [5]:
chipo = pd.read_csv(url,delimiter = '\t')

### Step 4. See the first 10 entries

In [6]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [7]:
chipo.count()

order_id              4622
quantity              4622
item_name             4622
choice_description    3376
item_price            4622
dtype: int64

In [8]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [9]:
# Nếu chỉ muốn lấy tổng số bản ghi thay vì chi tiết như trên
len(chipo)

4622

In [10]:
chipo.shape

(4622, 5)

In [11]:
chipo.shape[0]

4622

### Step 6. What is the number of columns in the dataset?

In [12]:
chipo.shape[1]

5

In [13]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [14]:
len(chipo.columns)

5

### Step 7. Print the name of all the columns.

In [15]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [16]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [18]:
Best_seller = chipo['quantity'].groupby(chipo['item_name']).sum().to_frame()
Best_seller.sort_values(by=['quantity'], ascending=False).head(1)

              quantity
item_name
Chicken Bowl       761

In [19]:
chipo.groupby('item_name').quantity.sum().nlargest(3) # ham nlargest de lay so luong co gia tri lon nhat

item_name
Chicken Bowl           761
Chicken Burrito        591
Chips and Guacamole    506
Name: quantity, dtype: int64

In [20]:
chipo.groupby('item_name').quantity.sum().nlargest(3).index[0]

'Chicken Bowl'

In [24]:
chipo.groupby('item_name').quantity.sum().sort_values(ascending=False).index[0]

'Chicken Bowl'

### Step 10. For the most-ordered item, how many items were ordered?

In [21]:
chipo.groupby('item_name').quantity.sum().nlargest(3).iloc[0]

761

In [ ]:
# ham nsmallest nguoc lai voi ham nlargest

In [23]:
chipo.groupby('item_name').quantity.sum().sort_values(ascending=False).iloc[0]

761

### Step 11. What was the most ordered item in the choice_description column?

In [25]:
chipo['choice_description'].value_counts().head(1) #check lại vì phải quan tâm đến quantity như câu 9 và 10

[Diet Coke]    134
Name: choice_description, dtype: int64

### Step 12. How many items were ordered in total?

In [26]:
chipo.head(5)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [27]:
chipo.item_name.nunique() # nunique là number of unique

50

In [29]:
len(chipo.item_name.unique())

50

### Step 13. Turn the item price into a float

In [30]:
chipo.head(5)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

#### Step 13.a. Check the item price type

In [31]:
type(chipo.item_price)

pandas.core.series.Series

In [32]:
type(chipo.item_price.iloc[0])

str

In [33]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [34]:
chipo.item_price.iloc[0] # Kết quả cho ra dấu $ trước chứng tỏ kiểu dữ liệu là str

'$2.39 '

#### Step 13.b. Create a lambda function and change the type of item price

In [37]:
#Sử dụng hàm thông thường trước
# Buoc 1: chuyen doi dau '$' thanh ''
# Buoc 2: ep kieu ve float

def convert(x):
    return float(x.replace('$',''))

In [38]:
type(convert('$2.39 '))

float

In [39]:
def convert(x):
    return float(x[1:])

In [40]:
type(convert('$2.39 '))

float

#### Step 13.c. Check the item price type

In [43]:
convert('$2.39 ')

2.39

#### Step 13.c. Check the item price type

In [41]:
# Su dung ham lamda
convert1 = lambda x : float(x.replace('$',''))

### Step 14. How much was the revenue for the period in the dataset?

In [47]:
chipo.item_price.sum

<bound method NDFrame._add_numeric_operations.<locals>.sum of 0        $2.39
1        $3.39
2        $3.39
3        $2.39
4       $16.98
         ...
4617    $11.75
4618    $11.75
4619    $11.25
4620     $8.75
4621     $8.75
Name: item_price, Length: 4622, dtype: object>

### Step 15. How many orders were made in the period?

In [48]:
chipo['order_id'].nunique()

1834

### Step 16. What is the average revenue amount per order?

In [ ]:
#### Step 13.b. Create a lambda function and change the type of item price

### Step 15. How many orders were made in the period?

### Step 16. What is the average revenue amount per order?

### Step 17. How many different items are sold?

## II. Filtering & Sorting

### Step 18. How many products cost more than $10.00?

In [49]:
chipo.head(5)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [50]:
chipo['price_per_item' = [x/y for x,y in zip(chipo['item_price'],chipo['quantity'])]

SyntaxError: invalid syntax (Temp/ipykernel_34916/3666372051.py, line 1)

### Step 19. What is the price of each item? 
###### Print a data frame with only two columns item_name and item_price

### Step 20. Sort by the name of the item

### Step 21. What was the quantity of the most expensive item ordered?

### Step 22. How many times was a Veggie Salad Bowl ordered?

### Step 23. How many times did someone order more than one Canned Soda?