![](https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Pandas_logo.svg/1200px-Pandas_logo.svg.png)

# <center> BÀI 6: THỰC HÀNH CÙNG PANDAS </center>

## I. Know your dataset

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

### Step 3. Assign it to a variable called `chipo`.

In [3]:
chipo = pd.read_csv(url, sep = '\t')

### Step 4. See the first 10 entries

In [4]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [13]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [17]:
chipo.shape[0]

4622

In [18]:
len(chipo)

4622

### Step 6. What is the number of columns in the dataset?

In [21]:
len(chipo.columns)

5

### Step 7. Print the name of all the columns.

In [22]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [23]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [24]:
Best_seller = chipo['quantity'].groupby(chipo['item_name']).sum().to_frame()
Best_seller.sort_values(by=['quantity'], ascending=False).head(1)

              quantity
item_name
Chicken Bowl       761

In [164]:
chipo.groupby('item_name').quantity.sum().sort_values(ascending = False).nlargest(3)

item_name
Chicken Bowl           761
Chicken Burrito        591
Chips and Guacamole    506
Name: quantity, dtype: int64

In [144]:
chipo.groupby('item_name').quantity.sum().nlargest(1).index[0]

'Chicken Bowl'

In [171]:
chipo.groupby('item_name').quantity.sum().sort_values(ascending=False).index[0]

'Chicken Bowl'

### Step 10. For the most-ordered item, how many items were ordered?

In [48]:
chipo['item_name'].nunique()

50

### Step 11. What was the most ordered item in the choice_description column?

### Step 12. How many items were ordered in total?

In [32]:
chipo.item_name.nunique()

50

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [50]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
6,3,1,Side of Chips,NaN,1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",9.25

In [36]:
type(chipo.item_price.iloc[0])

str

#### Step 13.b. Create a lambda function and change the type of item price

In [14]:
def convert(x):
    return float(x.replace("$" , ""))

In [24]:
convert1 = lambda x : float(x.replace('$',''))

In [25]:
convert1('$2.39')

2.39

#### Step 13.c. Check the item price type

In [28]:
chipo['item_price'] = chipo['item_price'].apply(convert)

AttributeError: 'float' object has no attribute 'replace'

In [34]:
type(chipo['item_price'].iloc[0])

numpy.float64

### Step 14. How much was the revenue for the period in the dataset?

In [38]:
revenue = chipo['item_price'].sum()
revenue

34500.16

### Step 15. How many orders were made in the period?

In [44]:
order_number = chipo['order_id'].nunique()
order_number

1834

### Step 16. What is the average revenue amount per order?

In [46]:
average_revenue = revenue / order_number
average_revenue

18.811428571428575

### Step 17. How many different items are sold?

In [42]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

In [49]:
chipo['item_name'].nunique()

50

## II. Filtering & Sorting

### Step 18. How many products cost more than $10.00?

In [55]:
chipo['item_price_per_product'] = chipo['item_price'] / chipo['quantity']

In [58]:
chipo.head(5)

,order_id,quantity,item_name,choice_description,item_price,item_price_per_product
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,8.49

In [71]:
chipo.loc[chipo['item_price_per_product'] > 10].nunique().item_name

25

### Step 19. What is the price of each item? 
###### Print a data frame with only two columns item_name and item_price
- Do mỗi sản phẩm với mỗi giá tiền khác nhau nên groupby ['item_name' , 'choice_description']

In [80]:
chipo.groupby(['item_name' , 'choice_description']).item_price_per_product.mean().to_frame()

                                                                      item_price_per_product
item_name         choice_description
6 Pack Soft Drink [Coke]                                                                6.49
                  [Diet Coke]                                                           6.49
                  [Lemonade]                                                            6.49
                  [Nestea]                                                              6.49
                  [Sprite]                                                              6.49
...                                                                                      ...
Veggie Soft Tacos [Fresh Tomato Salsa, [Black Beans, Cheese, Sour...                    8.75
                  [Fresh Tomato Salsa, [Fajita Vegetables, Rice, ...                   11.25
                  [Roasted Chili Corn Salsa (Medium), [Black Bean...                    8.49
                  [Roasted Chili Corn Salsa, [Fajita Vegetables, ...                    8.75
                  [Tomatillo Red Chili Salsa, [Fajita Vegetables,...                   11.25

[1859 rows x 1 columns]

### Step 20. Sort by the name of the item

In [88]:
chipo.sort_values(by = 'item_name', ignore_index = True)

,order_id,quantity,item_name,choice_description,item_price,item_price_per_product
0,1360,2,6 Pack Soft Drink,[Diet Coke],12.98,6.49
1,148,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
2,749,1,6 Pack Soft Drink,[Coke],6.49,6.49
3,754,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
4,1076,1,6 Pack Soft Drink,[Coke],6.49,6.49
...,...,...,...,...,...,...
4617,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75,8.75
4618,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75,8.75
4619,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49,8.49
4620,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
4621,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49,8.49

### Step 21. What was the quantity of the most expensive item ordered?

In [117]:
chipo.loc[chipo['item_price_per_product'] == chipo['item_price_per_product'].max()].groupby('item_name').quantity.sum()

item_name
Barbacoa Salad Bowl     5
Carnitas Salad Bowl     4
Steak Salad Bowl       21
Name: quantity, dtype: int64

### Step 22. How many times was a Veggie Salad Bowl ordered?

In [141]:
chipo.loc[chipo['item_name']=='Veggie Salad Bowl'].order_id.nunique()

18

### Step 23. How many times did someone order more than one Canned Soda?

In [170]:
chipo.loc[(chipo['item_name']=='Canned Soda') & (chipo['quantity'] > 1)].order_id.nunique()

18