![](https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Pandas_logo.svg/1200px-Pandas_logo.svg.png)

# <center> BÀI 6: THỰC HÀNH CÙNG PANDAS </center>

## I. Know your dataset

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [2]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [3]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep = '\t')

### Step 3. Assign it to a variable called `chipo`.

### Step 4. See the first 10 entries

### Step 5. What is the number of observations in the dataset?

### Step 6. What is the number of columns in the dataset?

### Step 7. Print the name of all the columns.

### Step 8. How is the dataset indexed?

### Step 9. Which was the most-ordered item?

### Step 10. For the most-ordered item, how many items were ordered?

### Step 11. What was the most ordered item in the choice_description column?

### Step 12. How many items were ordered in total?

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

#### Step 13.b. Create a lambda function and change the type of item price

#### Step 13.c. Check the item price type

### Step 14. How much was the revenue for the period in the dataset?

### Step 15. How many orders were made in the period?

### Step 16. What is the average revenue amount per order?

### Step 17. How many different items are sold?

## II. Filtering & Sorting

### Step 18. How many products cost more than $10.00?

In [4]:
chipo.head(5)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [8]:
chipo['price_per_item']=[x/y for x,y in zip(chipo['item_price'], chipo['quantity'])]
chipo.head(5)

TypeError: unsupported operand type(s) for /: 'str' and 'int'

### Step 19. What is the price of each item? 
###### Print a data frame with only two columns item_name and item_price

In [9]:
chipo.groupby(['item_price','choice_description']).price_per_item.mean().to_frame()

AttributeError: 'DataFrameGroupBy' object has no attribute 'price_per_item'

### Step 20. Sort by the name of the item

In [11]:
chipo.sort_values(by='item_name', ignore_index=True)

,order_id,quantity,item_name,choice_description,item_price
0,1360,2,6 Pack Soft Drink,[Diet Coke],$12.98
1,148,1,6 Pack Soft Drink,[Diet Coke],$6.49
2,749,1,6 Pack Soft Drink,[Coke],$6.49
3,754,1,6 Pack Soft Drink,[Diet Coke],$6.49
4,1076,1,6 Pack Soft Drink,[Coke],$6.49
...,...,...,...,...,...
4617,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
4618,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",$8.75
4619,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",$8.49
4620,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
4621,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",$8.49

### Step 21. What was the quantity of the most expensive item ordered?

In [12]:
#most expensive item
# count the quantity

In [13]:
chipo.price_per_item.max()

AttributeError: 'DataFrame' object has no attribute 'price_per_item'

In [ ]:
#chipo[chipo.price_per_item== chipo.price_per_item.max()]

In [14]:
#chipo[chipo.price_per_item==chipo.price_per_item.max()].quantity.sum()

In [15]:
#chipo[chipo.price_per_item==chipo.price_per_item.max()].groupby('item_name').quantity.sum()

### Step 22. How many times was a Veggie Salad Bowl ordered?

In [16]:
# Veggie Salad Bow
# Count
#chipo[chipo.item_name=='Veggie Salad Bowl'].order_id.nunique()

### Step 23. How many times did someone order more than one Canned Soda?

In [ ]:
# item_name Canned Soda
# Quantity>1

In [ ]:
# Check head(0, tail(5), random() sample.
.describe()-- distribution min, max, percenetile 25%, 50%, 75%---> visualize, boxplot.
---missing_value --.info() ~ non-null

In [17]:
chipo.describe()

          order_id     quantity
count  4622.000000  4622.000000
mean    927.254868     1.075725
std     528.890796     0.410186
min       1.000000     1.000000
25%     477.250000     1.000000
50%     926.000000     1.000000
75%    1393.000000     1.000000
max    1834.000000    15.000000