![](https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Pandas_logo.svg/1200px-Pandas_logo.svg.png)

# <center> BÀI 6: THỰC HÀNH CÙNG PANDAS </center>

## I. Know your dataset

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

### Step 3. Assign it to a variable called `chipo`.

In [3]:
chipo = pd.read_csv(url, sep='\t') #chipo = pd.read_csv(url, sep = '\t') ,

In [6]:
chipo = pd.read_csv(url, delimiter = '\t')

### Step 4. See the first 10 entries

In [4]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [35]:
chipo.order_id.count()

4622

In [36]:
len(chipo)

4622

In [37]:
chipo.shape

(4622, 5)

### Step 6. What is the number of columns in the dataset?

In [38]:
chipo.shape[1]

5

In [43]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 7. Print the name of all the columns.

In [30]:
print(chipo.keys())

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [44]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [46]:
chipo.groupby('item_name').quantity.sum().nlargest(1).to_frame()

              quantity
item_name
Chicken Bowl       761

### Step 10. For the most-ordered item, how many items were ordered?

In [49]:
chipo.groupby('item_name').quantity.sum().nlargest(1).iloc[0]

761

### Step 11. What was the most ordered item in the choice_description column?

In [50]:
chipo.groupby('choice_description').quantity.sum().nlargest(1)

choice_description
[Diet Coke]    159
Name: quantity, dtype: int64

### Step 12. How many items were ordered in total?

In [25]:
a = pd.unique(chipo['item_name'])
len(a)

50

In [53]:
chipo.item_name.nunique()

50

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [61]:
type(chipo.iloc[0,4])

str

#### Step 13.b. Create a lambda function and change the type of item price

In [ ]:
#Chuyển đổi dấu $ -> ''
#ép kiểu về float

In [72]:
def change_type(n):
    return float(n.replace('$',''))

In [64]:
change_type('$2.39')

'2.39'

In [65]:
convert = lambda n : float(n.replace('$',''))

In [66]:
convert('$5.49')

5.49

#### Step 13.c. Check the item price type

In [73]:
chipo['item_price'] = chipo.item_price.apply(change_type)

In [74]:
chipo.head(2)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39

In [75]:
type(chipo.iloc[0,4])

numpy.float64

### Step 14. How much was the revenue for the period in the dataset?

In [78]:
a = chipo.item_price.sum()
a

34500.16

### Step 15. How many orders were made in the period?

In [79]:
b = chipo['order_id'].nunique()
b

1834

### Step 16. What is the average revenue amount per order?

In [80]:
a/b

18.811428571428575

### Step 17. How many different items are sold?

## II. Filtering & Sorting

### Step 18. How many products cost more than $10.00?

In [106]:
chipo['price_per_item'] = [x/y for x,y in zip(chipo['item_price'],chipo['quantity'])]
chipo[chipo['price_per_item']>10].item_name.nunique()

25

### Step 19. What is the price of each item? 
###### Print a data frame with only two columns item_name and item_price

In [110]:
chipo.head(2)

,order_id,quantity,item_name,choice_description,item_price,price_per_item
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39

In [111]:
chipo.groupby(['item_name','choice_description']).price_per_item.mean().to_frame()

                                                                      price_per_item
item_name         choice_description
6 Pack Soft Drink [Coke]                                                        6.49
                  [Diet Coke]                                                   6.49
                  [Lemonade]                                                    6.49
                  [Nestea]                                                      6.49
                  [Sprite]                                                      6.49
...                                                                              ...
Veggie Soft Tacos [Fresh Tomato Salsa, [Black Beans, Cheese, Sour...            8.75
                  [Fresh Tomato Salsa, [Fajita Vegetables, Rice, ...           11.25
                  [Roasted Chili Corn Salsa (Medium), [Black Bean...            8.49
                  [Roasted Chili Corn Salsa, [Fajita Vegetables, ...            8.75
                  [Tomatillo Red Chili Salsa, [Fajita Vegetables,...           11.25

[1859 rows x 1 columns]

### Step 20. Sort by the name of the item

In [113]:
chipo.sort_values(by='item_name',ignore_index=True)

,order_id,quantity,item_name,choice_description,item_price,price_per_item
0,1360,2,6 Pack Soft Drink,[Diet Coke],12.98,6.49
1,148,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
2,749,1,6 Pack Soft Drink,[Coke],6.49,6.49
3,754,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
4,1076,1,6 Pack Soft Drink,[Coke],6.49,6.49
...,...,...,...,...,...,...
4617,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75,8.75
4618,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75,8.75
4619,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49,8.49
4620,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
4621,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49,8.49

### Step 21. What was the quantity of the most expensive item ordered?

In [120]:
#B1: Tìm đc sản phẩm đắt nhất
#B2: Tìm đc số lượng
a = chipo[chipo.price_per_item.max()==chipo.price_per_item]
a.groupby('item_name').quantity.sum().to_frame()

                     quantity
item_name
Barbacoa Salad Bowl         5
Carnitas Salad Bowl         4
Steak Salad Bowl           21

### Step 22. How many times was a Veggie Salad Bowl ordered?

In [122]:
chipo[chipo.item_name=='Veggie Salad Bowl'].order_id.nunique()

18

### Step 23. How many times did someone order more than one Canned Soda?

In [ ]:
# raw data -> preprocess + eda -> clean data -> analysis + eda + model
# pivot

- Head()/Tail()/Sample()
- .describe() -> distribution count, min, max, 25%, 50, 75 -> visualize, boxplot
- missing_value - .info() ~ non-null.

In [125]:
chipo[(chipo.item_name=='Canned Soda')&(chipo.quantity>1)].order_id.nunique()

18