![](https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Pandas_logo.svg/1200px-Pandas_logo.svg.png)

# <center> BÀI 6: THỰC HÀNH CÙNG PANDAS </center>

## I. Know your dataset

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [4]:
url='https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

### Step 3. Assign it to a variable called `chipo`.

In [5]:
chipo=pd.read_csv(url,sep ='\t')#sep là separate hoặc dermeter( check dữ liệu csv có CỘT trống

In [ ]:
chipo=pd.read_csv(url,sep ='\t')

### Step 4. See the first 10 entries

In [7]:
len(chipo)

4622

In [11]:
chipo.shape

(4622, 5)

In [6]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [12]:
chipo.shape[0]

4622

### Step 5. What is the number of observations in the dataset?

In [14]:
chipo.shape[1]

5

In [15]:
len(chipo.columns)

5

### Step 6. What is the number of columns in the dataset?

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 7. Print the name of all the columns.

In [17]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [18]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [20]:
chipo['item_name'].value_counts().head(1)

Chicken Bowl    726
Name: item_name, dtype: int64

In [22]:
chipo.head(5)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [25]:
chipo.groupby('item_name').quantity.sum().nlargest(1).index[0]# thAM SỐ BÊN TRONG LÀ MUỐN LẤY BAO NHIÊU GIÁ TRỊ LỚN NHẤT.

'Chicken Bowl'

In [26]:
chipo.groupby('item_name').quantity.sum().sort_values(ascending=False).iloc[0]

761

In [ ]:
# LẤY GIÁ TRỊ NHỎ NHẤT LÀ SMALLEST

In [21]:
Best_seller = chipo['quantity'].groupby(chipo['item_name']).sum().to_frame()
Best_seller.sort_values(by=['quantity'], ascending=False).head(1)

              quantity
item_name
Chicken Bowl       761

### Step 10. For the most-ordered item, how many items were ordered?

### Step 11. What was the most ordered item in the choice_description column?

### Step 12. How many items were ordered in total?

In [32]:
len(chipo.item_name.unique())

50

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [29]:
chipo.head(5)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

#### Step 13.b. Create a lambda function and change the type of item price

In [31]:
chipo.info

<bound method DataFrame.info of       order_id  quantity                              item_name  \
0            1         1           Chips and Fresh Tomato Salsa
1            1         1                                   Izze
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
4            2         2                           Chicken Bowl
...        ...       ...                                    ...
4617      1833         1                          Steak Burrito
4618      1833         1                          Steak Burrito
4619      1834         1                     Chicken Salad Bowl
4620      1834         1                     Chicken Salad Bowl
4621      1834         1                     Chicken Salad Bowl

                                     choice_description item_price
0                                                   NaN     $2.39
1                                          [Clementine]     $3.39
2                                               [Apple]     $3.39
3                                                   NaN     $2.39
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
...                                                 ...        ...
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...    $11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75

[4622 rows x 5 columns]>

In [33]:
chipo.item_price.iloc[0]

'$2.39 '

In [30]:
type(chipo.item_price.iloc[0])

str

In [ ]:
#step13b.creat a lambda function and change the type of item price

In [37]:
#cchuyen ddau $ thanh ''
# ep kieu float
def convert(x):
    return float(x.replace('$',''))

#### Step 13.c. Check the item price type

In [38]:
convert('$2.39 ')

2.39

In [39]:
def convert1(x):
    return float(x[1:])

In [41]:
convert1('$2.39 ')

2.39

In [42]:
convert2= lambda x:float(x.replace('$',''))

In [44]:
convert2('$2.39 ')

2.39

In [ ]:
#step 13c check the item price type

### Step 14. How much was the revenue for the period in the dataset?

In [48]:
chipo['item_price']=chipo.item_price.apply(convert2)

In [50]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 180.7+ KB

In [ ]:
#step 14 how much was the revenue for  the period in the dataset

In [51]:
chipo.item_price.sum()

34500.16

In [52]:
chipo.head(5)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

### Step 15. How many orders were made in the period?

In [54]:
chipo['order_id'].nunique()

1834

### Step 16. What is the average revenue amount per order?

In [56]:
chipo.item_price.sum()/chipo['order_id'].nunique()

18.811428571428575

### Step 17. How many different items are sold?

## II. Filtering & Sorting

### Step 18. How many products cost more than $10.00?

In [57]:
chipo.head(5)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

In [59]:
chipo['price_per_item']=[x/y for x,y in zip(chipo['item_price'],chipo['quantity'])]
chipo.head(5)

,order_id,quantity,item_name,choice_description,item_price,price_per_item
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,8.49

In [61]:
chipo[chipo['price_per_item']>10].item_name.nunique()

25

### Step 19. What is the price of each item? 
###### Print a data frame with only two columns item_name and item_price

In [62]:
chipo.head(5)

,order_id,quantity,item_name,choice_description,item_price,price_per_item
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,8.49

In [ ]:
chipo.groupby('item_name')

### Step 20. Sort by the name of the item

In [63]:
chipo.sort_values(by='item_name')

,order_id,quantity,item_name,choice_description,item_price,price_per_item
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98,6.49
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49,6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49,6.49
...,...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75,8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75,8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49,8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49,8.49

### Step 21. What was the quantity of the most expensive item ordered?

In [64]:
chipo.head(1)

,order_id,quantity,item_name,choice_description,item_price,price_per_item
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39

In [66]:
chipo.price_per_item.max()

11.89

In [69]:

chipo[chipo.price_per_item==chipo.price_per_item.max()].groupby('item_name').quantity.sum()

item_name
Barbacoa Salad Bowl     5
Carnitas Salad Bowl     4
Steak Salad Bowl       21
Name: quantity, dtype: int64

### Step 22. How many times was a Veggie Salad Bowl ordered?

In [73]:
 chipo[chipo.item_name=='Veggie Salad Bowl'].order_id.nunique()

18

### Step 23. How many times did someone order more than one Canned Soda?