![](https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Pandas_logo.svg/1200px-Pandas_logo.svg.png)

# <center> BÀI 6: THỰC HÀNH CÙNG PANDAS </center>

## I. Know your dataset

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [ ]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

### Step 3. Assign it to a variable called `chipo`.

In [ ]:
chipo = pd.read_csv(url, sep = '\t')

In [ ]:
chipo = pd.read_csv(url, delimiter='\t')

### Step 4. See the first 10 entries

In [ ]:
chipo.head(5)

   order_id  ...  item_price
0         1  ...      $2.39
1         1  ...      $3.39
2         1  ...      $3.39
3         1  ...      $2.39
4         2  ...     $16.98

[5 rows x 5 columns]

### Step 5. What is the number of observations in the dataset?

In [ ]:
chipo.count()

order_id              4622
quantity              4622
item_name             4622
choice_description    3376
item_price            4622
dtype: int64

In [ ]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [ ]:
len(chipo) #return row

4622

In [ ]:
chipo.shape  #(a,b) -> (row, column)

(4622, 5)

### Step 6. What is the number of columns in the dataset?

In [ ]:
len(chipo.columns)

5

### Step 7. Print the name of all the columns.

In [ ]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [ ]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [ ]:
best_seller = chipo['quantity'].groupby(chipo['item_name']).sum().to_frame()

In [ ]:
chipo.groupby('item_name').quantity.sum().nlargest(1)

item_name
Chicken Bowl    761
Name: quantity, dtype: int64

### Step 10. For the most-ordered item, how many items were ordered?

In [ ]:
chipo.groupby('item_name').quantity.sum().nlargest(1).iloc[0]

761

### Step 11. What was the most ordered item in the choice_description column?

In [42]:
chipo.groupby('choice_description').quantity.sum().nlargest(1).iloc[0]

159

### Step 12. How many items were ordered in total?

In [ ]:
chipo.item_name.unique()  #return unique value name

array(['Chips and Fresh Tomato Salsa', 'Izze', 'Nantucket Nectar',
       'Chips and Tomatillo-Green Chili Salsa', 'Chicken Bowl',
       'Side of Chips', 'Steak Burrito', 'Steak Soft Tacos',
       'Chips and Guacamole', 'Chicken Crispy Tacos',
       'Chicken Soft Tacos', 'Chicken Burrito', 'Canned Soda',
       'Barbacoa Burrito', 'Carnitas Burrito', 'Carnitas Bowl',
       'Bottled Water', 'Chips and Tomatillo Green Chili Salsa',
       'Barbacoa Bowl', 'Chips', 'Chicken Salad Bowl', 'Steak Bowl',
       'Barbacoa Soft Tacos', 'Veggie Burrito', 'Veggie Bowl',
       'Steak Crispy Tacos', 'Chips and Tomatillo Red Chili Salsa',
       'Barbacoa Crispy Tacos', 'Veggie Salad Bowl',
       'Chips and Roasted Chili-Corn Salsa',
       'Chips and Roasted Chili Corn Salsa', 'Carnitas Soft Tacos',
       'Chicken Salad', 'Canned Soft Drink', 'Steak Salad Bowl',
       '6 Pack Soft Drink', 'Chips and Tomatillo-Red Chili Salsa', 'Bowl',
       'Burrito', 'Crispy Tacos', 'Carnitas Crispy Tacos', 'Steak Salad',
       'Chips and Mild Fresh Tomato Salsa', 'Veggie Soft Tacos',
       'Carnitas Salad Bowl', 'Barbacoa Salad Bowl', 'Salad',
       'Veggie Crispy Tacos', 'Veggie Salad', 'Carnitas Salad'],
      dtype=object)

In [ ]:
chipo.item_name.nunique()  #return number of name's unique value

50

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [ ]:
type(chipo.item_price.iloc[0])

str

In [ ]:
chipo.item_price.iloc[0]

'$2.39 '

#### Step 13.b. Create a lambda function and change the type of item price

**Convert sign $ to none and convert str to float**

Use def-function

In [ ]:
def convert(x):
  return float(x.replace('$',''))

In [ ]:
convert('2.39 ')

2.39

Use lambda function

In [ ]:
convert1 = lambda x : float(x.replace('$',''))

In [ ]:
convert1('$2.39 ')

2.39

#### Step 13.c. Check the item price type

In [ ]:
chipo['item_price'] = chipo.item_price.apply(convert1)

### Step 14. How much was the revenue for the period in the dataset?

In [ ]:
chipo.item_price.sum()

34500.16

### Step 15. How many orders were made in the period?

In [ ]:
chipo['order_id'].nunique()

1834

### Step 16. What is the average revenue amount per order?

In [ ]:
chipo.item_price.sum() / chipo['order_id'].nunique()

18.811428571428575

### Step 17. How many different items are sold?

In [39]:
chipo['item_name'].nunique()

50

## II. Filtering & Sorting

### Step 18. How many products cost more than $10.00?

In [ ]:
chipo.head(5)

   order_id  ...  item_price
0         1  ...        2.39
1         1  ...        3.39
2         1  ...        3.39
3         1  ...        2.39
4         2  ...       16.98

[5 rows x 5 columns]

In [ ]:
chipo['price_per_item'] = [x/y for x,y in zip((chipo['item_price']),(chipo['quantity']))]

In [ ]:
chipo[chipo['price_per_item'] > 10].item_name.nunique()

25

### Step 19. What is the price of each item? 
###### Print a data frame with only two columns item_name and item_price

In [ ]:
chipo.head(5)

   order_id  quantity  ... item_price price_per_item
0         1         1  ...       2.39           2.39
1         1         1  ...       3.39           3.39
2         1         1  ...       3.39           3.39
3         1         1  ...       2.39           2.39
4         2         2  ...      16.98           8.49

[5 rows x 6 columns]

In [ ]:
chipo.groupby(['item_name', 'choice_description']).price_per_item.mean().to_frame()

                                                                      price_per_item
item_name         choice_description
6 Pack Soft Drink [Coke]                                                        6.49
                  [Diet Coke]                                                   6.49
                  [Lemonade]                                                    6.49
                  [Nestea]                                                      6.49
                  [Sprite]                                                      6.49
...                                                                              ...
Veggie Soft Tacos [Fresh Tomato Salsa, [Black Beans, Cheese, Sour...            8.75
                  [Fresh Tomato Salsa, [Fajita Vegetables, Rice, ...           11.25
                  [Roasted Chili Corn Salsa (Medium), [Black Bean...            8.49
                  [Roasted Chili Corn Salsa, [Fajita Vegetables, ...            8.75
                  [Tomatillo Red Chili Salsa, [Fajita Vegetables,...           11.25

[1859 rows x 1 columns]

### Step 20. Sort by the name of the item

In [ ]:
chipo.sort_values(by='item_name', ignore_index=True)

      order_id  quantity  ... item_price price_per_item
0         1360         2  ...      12.98           6.49
1          148         1  ...       6.49           6.49
2          749         1  ...       6.49           6.49
3          754         1  ...       6.49           6.49
4         1076         1  ...       6.49           6.49
...        ...       ...  ...        ...            ...
4617       948         1  ...       8.75           8.75
4618       322         1  ...       8.75           8.75
4619      1132         1  ...       8.49           8.49
4620       688         1  ...      11.25          11.25
4621       567         1  ...       8.49           8.49

[4622 rows x 6 columns]

### Step 21. What was the quantity of the most expensive item ordered?

1.   Most expensive price 
2.   Find iteam have price = most expensive price
1.   Count quantity

In [ ]:
chipo[chipo.price_per_item == chipo.price_per_item.max()].groupby('item_name').quantity.sum()

item_name
Barbacoa Salad Bowl     5
Carnitas Salad Bowl     4
Steak Salad Bowl       21
Name: quantity, dtype: int64

### Step 22. How many times was a Veggie Salad Bowl ordered?

In [ ]:
chipo[chipo.item_name == 'Veggie Salad Bowl'].order_id.nunique()

18

### Step 23. How many times did someone order more than one Canned Soda?

In [ ]:
chipo.describe()

          order_id     quantity
count  4622.000000  4622.000000
mean    927.254868     1.075725
std     528.890796     0.410186
min       1.000000     1.000000
25%     477.250000     1.000000
50%     926.000000     1.000000
75%    1393.000000     1.000000
max    1834.000000    15.000000