![](https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Pandas_logo.svg/1200px-Pandas_logo.svg.png)

# <center> BÀI 6: THỰC HÀNH CÙNG PANDAS </center>

## I. Know your dataset

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [4]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv')

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 3. Assign it to a variable called `chipo`.

In [3]:
#Phải định nghĩa file chia dữ liệu thành các cộng dưới dạng gì không phải dấu ','?(';' hay 'tab')
#C1 dùng sep = 'dấu file csv đang dùng' (nếu ',' thì không cần)
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep='\t')

### Step 4. See the first 10 entries

In [4]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [6]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [39]:
len(chipo)

4622

In [43]:
chipo.shape[0]

4622

### Step 6. What is the number of columns in the dataset?

In [7]:
len(chipo.columns)

5

In [44]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [8]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [9]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [6]:
Best_seller = chipo['quantity'].groupby(chipo['item_name']).sum().to_frame()
Best_seller.sort_values(by=['quantity'], ascending=False).head(1)
#Phải chú ý cả item_name và quantity

              quantity
item_name
Chicken Bowl       761

In [48]:
chipo.groupby('item_name').quantity.sum().nlargest(1)
#nlargest(): trả về các giá trị có số lượng lớn nhất theo giá trị số truyền vào trong ngoặc

item_name
Chicken Bowl    761
Name: quantity, dtype: int64

### Step 10. For the most-ordered item, how many items were ordered?

In [49]:
chipo.groupby('item_name').quantity.sum().nlargest(1).iloc[0]

761

In [52]:
chipo.groupby('item_name').quantity.sum().sort_values(ascending=False).iloc[0]

761

### Step 11. What was the most ordered item in the choice_description column?

In [54]:
chipo.groupby('choice_description').quantity.sum().nlargest(1)

choice_description
[Diet Coke]    159
Name: quantity, dtype: int64

### Step 12. How many items were ordered in total? (Tổng bao nhiêu món không trùng nhau)

In [55]:
chipo.item_name.unique()
#unique: trả về một chuỗi không trùng nhau

array(['Chips and Fresh Tomato Salsa', 'Izze', 'Nantucket Nectar',
       'Chips and Tomatillo-Green Chili Salsa', 'Chicken Bowl',
       'Side of Chips', 'Steak Burrito', 'Steak Soft Tacos',
       'Chips and Guacamole', 'Chicken Crispy Tacos',
       'Chicken Soft Tacos', 'Chicken Burrito', 'Canned Soda',
       'Barbacoa Burrito', 'Carnitas Burrito', 'Carnitas Bowl',
       'Bottled Water', 'Chips and Tomatillo Green Chili Salsa',
       'Barbacoa Bowl', 'Chips', 'Chicken Salad Bowl', 'Steak Bowl',
       'Barbacoa Soft Tacos', 'Veggie Burrito', 'Veggie Bowl',
       'Steak Crispy Tacos', 'Chips and Tomatillo Red Chili Salsa',
       'Barbacoa Crispy Tacos', 'Veggie Salad Bowl',
       'Chips and Roasted Chili-Corn Salsa',
       'Chips and Roasted Chili Corn Salsa', 'Carnitas Soft Tacos',
       'Chicken Salad', 'Canned Soft Drink', 'Steak Salad Bowl',
       '6 Pack Soft Drink', 'Chips and Tomatillo-Red Chili Salsa', 'Bowl',
       'Burrito', 'Crispy Tacos', 'Carnitas Crispy Tacos', 'Steak Salad',
       'Chips and Mild Fresh Tomato Salsa', 'Veggie Soft Tacos',
       'Carnitas Salad Bowl', 'Barbacoa Salad Bowl', 'Salad',
       'Veggie Crispy Tacos', 'Veggie Salad', 'Carnitas Salad'],
      dtype=object)

In [56]:
chipo.item_name.nunique()
#nunique: trả về số lượng của biến không trùng nhau

50

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [58]:
type(chipo.item_price.iloc[0])
#Check type của index đầu tiên của cột

str

In [59]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [60]:
chipo.item_price.iloc[0]
#giá trị đang có dấu $ ở trước -> ký tự phải xóa nếu muốn chuyển sang dạng số

'$2.39 '

#### Step 13.b. Create a lambda function and change the type of item price

In [67]:
#B1: chuyên doi dau $ thanh khong có gì ' '
#B2: Ép kiểu về float
def convert(x):
    return float(x.replace('$',''))

In [68]:
convert('$2.39 ')

2.39

In [69]:
type(convert('$2.39 '))

float

In [70]:
convert1 = lambda x : float(x.replace('$',''))

In [71]:
convert1('$2.39 ')

2.39

#### Step 13.c. Check the item price type

In [72]:
chipo['item_price'] = chipo.item_price.apply(convert1)
#Áp dụng cho tất cả dữ liệu trong cột

In [76]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
6,3,1,Side of Chips,NaN,1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",9.25

### Step 14. How much was the revenue for the period in the dataset?

In [74]:
chipo.item_price.sum()

34500.16

### Step 15. How many orders were made in the period?

In [78]:
chipo.order_id.nunique()

1834

### Step 16. What is the average revenue amount per order?

### Step 17. How many different items are sold?

In [79]:
chipo.item_name.nunique()

50

## II. Filtering & Sorting

### Step 18. How many products cost more than $10.00?
Phải chia item_price cho quantity để ra đơn giá cho mỗi sản phẩm

In [87]:
chipo['price_per_item'] = [x/y for x,y in zip(chipo['item_price'],chipo['quantity'])]
chipo.head(5)

,order_id,quantity,item_name,choice_description,item_price,price_per_item
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,8.49

In [ ]:
chipo[chipo['price_per_item']>10].item_name.nunique()

### Step 19. What is the price of each item? 
###### Print a data frame with only two columns item_name and item_price

In [89]:
chipo.groupby(['item_name', 'choice_description']).price_per_item.mean().to_frame()

                                                                      price_per_item
item_name         choice_description
6 Pack Soft Drink [Coke]                                                        6.49
                  [Diet Coke]                                                   6.49
                  [Lemonade]                                                    6.49
                  [Nestea]                                                      6.49
                  [Sprite]                                                      6.49
...                                                                              ...
Veggie Soft Tacos [Fresh Tomato Salsa, [Black Beans, Cheese, Sour...            8.75
                  [Fresh Tomato Salsa, [Fajita Vegetables, Rice, ...           11.25
                  [Roasted Chili Corn Salsa (Medium), [Black Bean...            8.49
                  [Roasted Chili Corn Salsa, [Fajita Vegetables, ...            8.75
                  [Tomatillo Red Chili Salsa, [Fajita Vegetables,...           11.25

[1859 rows x 1 columns]

### Step 20. Sort by the name of the item

In [92]:
chipo.sort_values(by='item_name', ignore_index=True)

,order_id,quantity,item_name,choice_description,item_price,price_per_item
0,1360,2,6 Pack Soft Drink,[Diet Coke],12.98,6.49
1,148,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
2,749,1,6 Pack Soft Drink,[Coke],6.49,6.49
3,754,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
4,1076,1,6 Pack Soft Drink,[Coke],6.49,6.49
...,...,...,...,...,...,...
4617,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75,8.75
4618,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75,8.75
4619,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49,8.49
4620,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
4621,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49,8.49

### Step 21. What was the quantity of the most expensive item ordered?
1. Tìm ra sản phẩm đăt nhất là gì
2. Đếm số lượng trên sản phẩm đó

In [93]:
#B1
chipo.price_per_item.max()

11.89

In [95]:
#B2
chipo[chipo.price_per_item == chipo.price_per_item.max()].quantity.sum()
#Nếu chỉ dừng ở đây thì sẽ chỉ trả về số lượng tổng của rất nhiều món ăn khác nhau
#Nên thêm goupby để chia theo từng món

30

In [97]:
chipo[chipo.price_per_item == chipo.price_per_item.max()].groupby('item_name').quantity.sum()

item_name
Barbacoa Salad Bowl     5
Carnitas Salad Bowl     4
Steak Salad Bowl       21
Name: quantity, dtype: int64

### Step 22. How many times was a Veggie Salad Bowl ordered?

In [99]:
chipo[chipo.item_name == 'Veggie Salad Bowl'].order_id.nunique()

18

### Step 23. How many times did someone order more than one Canned Soda?
item_name Canned Soda

quantity >=2

In [103]:
cd2 =(chipo.item_name == 'Canned Soda') & (chipo.quantity >=2)
chipo.loc[cd2].order_id.nunique()

18