![](https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Pandas_logo.svg/1200px-Pandas_logo.svg.png)

# <center> BÀI 6: THỰC HÀNH CÙNG PANDAS </center>

## I. Know your dataset

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [ ]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

In [2]:
pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep ='\t')

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 3. Assign it to a variable called `chipo`.

In [3]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep ='\t')
#chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', delimiter ='\t')

### Step 4. See the first 10 entries

In [16]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [17]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [10]:
len(chipo) #số lượng bản ghi tệp dataset lưu trữ

4622

In [14]:
chipo.shape[0] #Số hàng và số cột

4622

### Step 6. What is the number of columns in the dataset?

In [46]:
len(chipo.columns)

5

In [48]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [50]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [51]:
list(chipo.columns)

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

### Step 8. How is the dataset indexed?

In [6]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [17]:
c = chipo.groupby('item_name').sum()
c = c.sort_values('quantity', ascending=False)
c.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

In [18]:
chipo['item_name'].value_counts().head(1) #tuy nhien ko dung

Chicken Bowl    726
Name: item_name, dtype: int64

In [23]:
chipo.groupby('item_name').quantity.sum().nlargest(1).index[0]

'Chicken Bowl'

### Step 10. For the most-ordered item, how many items were ordered?

In [16]:
c = chipo.groupby('item_name').sum()
c = c.sort_values('quantity', ascending=False)
c.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

In [29]:
chipo.groupby('item_name').quantity.sum().nlargest(1).iloc[0] #<> nsmallest()

761

### Step 11. What was the most ordered item in the choice_description column?

In [30]:
d = chipo.groupby('choice_description').sum().sort_values('quantity',ascending=False)
#d = d.sort_values('quantity',ascending=False)
d.head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

In [31]:
chipo.groupby('choice_description').quantity.sum().nlargest(1).iloc[0] #<> nsmallest()

159

### Step 12. How many items were ordered in total?

In [76]:
Total_item_ordered = chipo.quantity.sum()
Total_item_ordered

4972

In [32]:
chipo.item_name.nunique() #nunique: số lượng các phần tử khác nhau

50

In [33]:
len(chipo.item_name.unique())

50

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [35]:
type(chipo.item_price.iloc[0])
#chipo.item_price.dtype

str

In [37]:
chipo.item_price.iloc[0]

'$2.39 '

#### Step 13.b. Create a lambda function and change the type of item price

In [5]:
#chuyển đổi dấu $ => ''
#ép kiểu float
def convert(x):
    return float(x.replace('$','')) #float(x,[1:])

In [6]:
convert('$2.39')

2.39

In [7]:
convert1 = lambda x: float(x.replace('$',''))

In [8]:
convert1 ('$2.39')

2.39

#### Step 13.c. Check the item price type

In [14]:
chipo['item_price'] = chipo.item_price.apply(convert1)

In [52]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 180.7+ KB

### Step 14. How much was the revenue for the period in the dataset?

In [15]:
chipo.item_price.sum()

34500.16

### Step 15. How many orders were made in the period?

In [11]:
chipo.order_id.nunique()

1834

In [10]:
chipo['order_id'].nunique()

1834

### Step 16. What is the average revenue amount per order?

In [17]:
chipo.head(5)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

In [16]:
chipo.item_price.sum()/chipo.order_id.nunique()

18.811428571428575

### Step 17. How many different items are sold?

In [20]:
chipo.item_name.nunique()

50

## II. Filtering & Sorting

### Step 18. How many products cost more than $10.00?

In [61]:
chipo['unit_price'] = [x/y for x,y in zip(chipo['item_price'], chipo['quantity'])]

In [65]:
chipo[chipo['unit_price'] > 10].item_name.nunique()

25

### Step 19. What is the price of each item? 
###### Print a data frame with only two columns item_name and item_price

In [66]:
chipo.head(5)

,order_id,quantity,item_name,choice_description,item_price,unit_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,8.49

In [68]:
chipo.groupby(['item_name','choice_description']).unit_price.mean().to_frame()

                                                                      unit_price
item_name         choice_description
6 Pack Soft Drink [Coke]                                                    6.49
                  [Diet Coke]                                               6.49
                  [Lemonade]                                                6.49
                  [Nestea]                                                  6.49
                  [Sprite]                                                  6.49
...                                                                          ...
Veggie Soft Tacos [Fresh Tomato Salsa, [Black Beans, Cheese, Sour...        8.75
                  [Fresh Tomato Salsa, [Fajita Vegetables, Rice, ...       11.25
                  [Roasted Chili Corn Salsa (Medium), [Black Bean...        8.49
                  [Roasted Chili Corn Salsa, [Fajita Vegetables, ...        8.75
                  [Tomatillo Red Chili Salsa, [Fajita Vegetables,...       11.25

[1859 rows x 1 columns]

### Step 20. Sort by the name of the item

In [75]:
chipo.sort_values(by = 'item_name', ignore_index = True)
#chipo

,order_id,quantity,item_name,choice_description,item_price,unit_price
0,1360,2,6 Pack Soft Drink,[Diet Coke],12.98,6.49
1,148,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
2,749,1,6 Pack Soft Drink,[Coke],6.49,6.49
3,754,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
4,1076,1,6 Pack Soft Drink,[Coke],6.49,6.49
...,...,...,...,...,...,...
4617,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75,8.75
4618,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75,8.75
4619,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49,8.49
4620,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
4621,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49,8.49

### Step 21. What was the quantity of the most expensive item ordered?

In [80]:
chipo[chipo.unit_price == chipo.unit_price.max()].groupby('item_name').quantity.sum()

item_name
Barbacoa Salad Bowl     5
Carnitas Salad Bowl     4
Steak Salad Bowl       21
Name: quantity, dtype: int64

### Step 22. How many times was a Veggie Salad Bowl ordered?

In [85]:
chipo[chipo.item_name == 'Veggie Salad Bowl'].order_id.nunique()

18

### Step 23. How many times did someone order more than one Canned Soda?

In [91]:
chipo[(chipo.item_name == 'Canned Soda') & (chipo.quantity > 1)].order_id.nunique()

18