![](https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Pandas_logo.svg/1200px-Pandas_logo.svg.png)

# <center> BÀI 6: THỰC HÀNH CÙNG PANDAS </center>

## I. Know your dataset

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [3]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

### Step 3. Assign it to a variable called `chipo`.

In [4]:
chipo = pd.read_csv(url, sep='\t') #chipo = pd.read_csv(url, sep = '\t') ,

In [6]:
chipo = pd.read_csv(url, delimiter = '\t')

### Step 4. See the first 10 entries

In [5]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [8]:
chipo.count() #C1

order_id              4622
quantity              4622
item_name             4622
choice_description    3376
item_price            4622
dtype: int64

In [9]:
chipo.info() #C2

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [10]:
len(chipo)

4622

In [12]:
chipo.shape

(4622, 5)

### Step 6. What is the number of columns in the dataset?

In [6]:
chipo.shape[1] #check row đầu ra số cột vì shape đưa ra định dạng của dimension #C1

5

In [7]:
len(chipo.columns) #C2

5

### Step 7. Print the name of all the columns.

In [13]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [14]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [26]:
chipo.groupby(chipo['item_name']).quantity.sum().nlargest(1).index[0] 
#quantity.sum() đếm tổng quantity-trả về số lượng vs mỗi item mà mỗi khách order 
#.nlargest(1).index[0] - trả về số lg các giá trị có kết quả lớn nhất và thêm index để chỉ lấy tên thay vì cả tên và số lg

'Chicken Bowl'

In [19]:
Best_seller_item = chipo['quantity'].groupby(chipo['item_name']).sum().to_frame()
Best_seller_item.sort_values(by = ['quantity'],ascending = False).head(1)

              quantity
item_name
Chicken Bowl       761

In [28]:
chipo.groupby('item_name').quantity.sum().sort_values(ascending=False).index[0]

'Chicken Bowl'

### Step 10. For the most-ordered item, how many items were ordered?

In [27]:
chipo.groupby(chipo['item_name']).quantity.sum().nlargest(1).iloc[0] #iloc để láy giá trị của quantity #nsmallest() có thể dùng

761

In [29]:
chipo.groupby('item_name').quantity.sum().sort_values(ascending=False).iloc[0]

761

### Step 11. What was the most ordered item in the choice_description column?

In [31]:
chipo.groupby('choice_description').quantity.sum().sort_values(ascending=False).index[0]

'[Diet Coke]'

In [32]:
chipo.groupby(chipo['choice_description']).quantity.sum().nlargest(1).index[0]

'[Diet Coke]'

### Step 12. How many items were ordered in total?

In [33]:
chipo['item_name'].nunique() 
#unique trả về array chứa các phần tử khác nhau 
#nunique trả về số các phần tử khác nhau

50

In [34]:
len(chipo['item_name'].unique())

50

### Step 13. Turn the item price into a float

In [35]:
chipo.head(5)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

#### Step 13.a. Check the item price type

In [39]:
type(chipo.item_price[0]) #B1: check kiểu dữ liệu của cột và các vấn đề của DL trg cột đó trk khi add kiểu

str

In [41]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [41]:
chipo.item_price.iloc[0] # check random 1 giá trị

'$2.39 '

#### Step 13.b. Create a lambda function and change the type of item price

In [42]:
# chuyen doi dau $ thanh '' #nếu số có dấu , nên xoá
# ep kieu ve float
#C1:
def convert(x):
    return float(x.replace('$',''))

In [43]:
convert('$2.39 ')

2.39

In [45]:
#C2:
convert1 = lambda x : float(x.replace('$',''))

In [52]:
convert1('$2.39 ')

2.39

#### Step 13.c. Check the item price type

In [48]:
chipo['item_price'] = chipo.item_price.apply(convert1) #dùng hàm apply để áp dụng CT của 1 cho cả cột

In [49]:
chipo.head(5)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

In [50]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 180.7+ KB

### Step 14. How much was the revenue for the period in the dataset?

In [51]:
chipo.item_price.sum()

34500.16

### Step 15. How many orders were made in the period?

In [53]:
chipo.order_id.nunique()

1834

### Step 16. What is the average revenue amount per order?

In [54]:
chipo.item_price.sum()/chipo.order_id.nunique()

18.811428571428575

### Step 17. How many different items are sold?

In [57]:
chipo.quantity.count()

4622

## II. Filtering & Sorting

### Step 18. How many products cost more than $10.00?

In [58]:
chipo.head(5)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

In [60]:
chipo['price_per_item'] = chipo.item_price/ chipo.quantity
chipo.head (5)

,order_id,quantity,item_name,choice_description,item_price,price_per_item
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,8.49

In [62]:
chipo[chipo['price_per_item'] > 10].item_name.nunique()

25

### Step 19. What is the price of each item? 
###### Print a data frame with only two columns item_name and item_price

In [68]:
chipo.groupby(['item_name','choice_description']).price_per_item.mean().to_frame()

                                                                      price_per_item
item_name         choice_description
6 Pack Soft Drink [Coke]                                                        6.49
                  [Diet Coke]                                                   6.49
                  [Lemonade]                                                    6.49
                  [Nestea]                                                      6.49
                  [Sprite]                                                      6.49
...                                                                              ...
Veggie Soft Tacos [Fresh Tomato Salsa, [Black Beans, Cheese, Sour...            8.75
                  [Fresh Tomato Salsa, [Fajita Vegetables, Rice, ...           11.25
                  [Roasted Chili Corn Salsa (Medium), [Black Bean...            8.49
                  [Roasted Chili Corn Salsa, [Fajita Vegetables, ...            8.75
                  [Tomatillo Red Chili Salsa, [Fajita Vegetables,...           11.25

[1859 rows x 1 columns]

### Step 20. Sort by the name of the item

In [64]:
chipo.sort_values(by='item_name', ignore_index=True)

,order_id,quantity,item_name,choice_description,item_price,price_per_item
0,1360,2,6 Pack Soft Drink,[Diet Coke],12.98,6.49
1,148,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
2,749,1,6 Pack Soft Drink,[Coke],6.49,6.49
3,754,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
4,1076,1,6 Pack Soft Drink,[Coke],6.49,6.49
...,...,...,...,...,...,...
4617,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75,8.75
4618,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75,8.75
4619,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49,8.49
4620,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
4621,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49,8.49

### Step 21. What was the quantity of the most expensive item ordered?

In [ ]:
# most expensive item df_name[condition] => pass
# count the quantity

In [70]:
chipo[chipo.price_per_item.max() == chipo.price_per_item].groupby('item_name').quantity.sum()

item_name
Barbacoa Salad Bowl     5
Carnitas Salad Bowl     4
Steak Salad Bowl       21
Name: quantity, dtype: int64

### Step 22. How many times was a Veggie Salad Bowl ordered?

In [67]:
# Veggie Salad Bow
# Count 
chipo[chipo['item_name'] == 'Veggie Salad Bowl'].order_id.nunique()

18

### Step 23. How many times did someone order more than one Canned Soda?

In [ ]:
# item_name Canned Soda
# quantity > 1

In [82]:
chipo[(chipo['item_name'] == 'Canned Soda') & (chipo['quantity'] >1)].order_id.count()

20

In [ ]:
# raw data -> preprocess + eda -> clean data -> analysis + eda + model
# pivot sau (clean data để xem tổng số liệu, xu hướng tạm thời

- Head()/Tail()/Sample()
- .describe() -> distribution count, min, max, 25%, 50, 75 -> visualize, boxplot
- missing_value - .info() ~ non-null.

In [86]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price,price_per_item
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,8.49
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98,10.98
6,3,1,Side of Chips,NaN,1.69,1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75,11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",9.25,9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",9.25,9.25

In [85]:
chipo.describe()

          order_id     quantity   item_price  price_per_item
count  4622.000000  4622.000000  4622.000000     4622.000000
mean    927.254868     1.075725     7.464336        7.084424
std     528.890796     0.410186     4.245557        3.665487
min       1.000000     1.000000     1.090000        1.090000
25%     477.250000     1.000000     3.390000        2.950000
50%     926.000000     1.000000     8.750000        8.750000
75%    1393.000000     1.000000     9.250000        9.250000
max    1834.000000    15.000000    44.250000       11.890000