![](https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Pandas_logo.svg/1200px-Pandas_logo.svg.png)

# <center> BÀI 6: THỰC HÀNH CÙNG PANDAS </center>

## I. Know your dataset

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called `chipo`.

In [4]:
chipo=pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv",sep='\t',error_bad_lines=False)
# Có thể dung sep or delimiter

In [ ]:
chipo=pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv",delimiter ='\t')

### Step 4. See the first 10 entries

In [5]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [13]:
chipo.count()

order_id              4622
quantity              4622
item_name             4622
choice_description    3376
item_price            4622
dtype: int64

In [108]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          0 non-null      float64
 5   revenue             4622 non-null   object
dtypes: float64(1), int64(2), object(3)
memory usage: 216.8+ KB

In [109]:
len(chipo)

4622

### Step 6. What is the number of columns in the dataset?

In [111]:
chipo.shape[1]

6

In [112]:
len(chipo.columns)

6

### Step 7. Print the name of all the columns.

In [113]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description', 'item_price',
       'revenue'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [114]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [82]:
c1=chipo.groupby('item_name').agg(sum_quantity=('quantity','sum'))
c1.loc[c1['sum_quantity']==c1['sum_quantity'].max()].loc[:,'sum_quantity']

item_name
Chicken Bowl    761
Name: sum_quantity, dtype: int64

In [117]:
chipo['quantity'].groupby(chipo['item_name']).sum().sort_values(ascending=False).iloc[0]

              quantity
item_name
Chicken Bowl       761

In [118]:
chipo.groupby('item_name').quantity.sum().nlargest(1) #Lấy 1 giá trị max

item_name
Chicken Bowl    761
Name: quantity, dtype: int64

In [119]:
chipo.groupby('item_name').quantity.sum().nlargest(1).index[0] #Dưới dạng series

'Chicken Bowl'

In [21]:
c1=chipo.groupby('item_name').agg(sum_quantity=('quantity','sum'))

In [22]:
c1.loc[c1['sum_quantity']==c1['sum_quantity'].max()].loc[:,'sum_quantity']

item_name
Chicken Bowl    761
Name: sum_quantity, dtype: int64

### Step 10. For the most-ordered item, how many items were ordered?

In [120]:
chipo.groupby('item_name').quantity.sum().nlargest(1).iloc[0]

761

### Step 11. What was the most ordered item in the choice_description column?

In [83]:
c1=chipo.groupby('choice_description').agg(sum_quantity=('quantity','sum'))
c1.loc[c1['sum_quantity']==c1['sum_quantity'].max()].loc[:,'sum_quantity']

choice_description
[Diet Coke]    159
Name: sum_quantity, dtype: int64

In [23]:
c2=chipo.groupby('choice_description').agg(sum_quantity=('quantity','sum'))
c2.loc[c2['sum_quantity']==c2['sum_quantity'].max()].loc[:,'sum_quantity']

choice_description
[Diet Coke]    159
Name: sum_quantity, dtype: int64

### Step 12. How many items were ordered in total?

In [100]:
c1['sum_quantity'].sum()

3590

In [121]:
chipo.item_name.nunique()

50

In [56]:
chipo.groupby('item_name').quantity.sum().count()

50

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [67]:
chipo['item_price'].dtypes

dtype('float64')

In [85]:
chipo.dtypes

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
revenue                object
dtype: object

In [123]:
type(chipo.item_price.iloc[0])

numpy.float64

#### Step 13.b. Create a lambda function and change the type of item price

In [129]:
chipo['item_price']=chipo['item_price'].apply(convert1)

AttributeError: 'float' object has no attribute 'replace'

In [125]:
def convert(x):
    return float(x.replace('$','')) #float(x[1])

In [127]:
convert1=lambda x: float(x.replace('$',''))

#### Step 13.c. Check the item price type

In [130]:
chipo.dtypes

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
revenue                object
dtype: object

In [133]:
chipo.head(5)

,order_id,quantity,item_name,choice_description,item_price,revenue
0,1,1,Chips and Fresh Tomato Salsa,NaN,NaN,NaN
1,1,1,Izze,[Clementine],NaN,NaN
2,1,1,Nantucket Nectar,[Apple],NaN,NaN
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,NaN,NaN
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",NaN,NaN

### Step 14. How much was the revenue for the period in the dataset?

In [134]:
chipo.item_price.sum()

0.0

### Step 15. How many orders were made in the period?

In [55]:
chipo.groupby('order_id').quantity.sum().count()

1834

In [136]:
chipo['order_id'].nunique()

1834

### Step 16. What is the average revenue amount per order?

In [57]:
chipo.groupby('order_id').revenue.mean()

TypeError: Could not convert $2.39 $3.39 $3.39 $2.39  to numeric

### Step 17. How many different items are sold?

In [99]:
chipo.groupby('item_name').quantity.sum().count()

50

## II. Filtering & Sorting

### Step 18. How many products cost more than $10.00?

In [ ]:
chipo.query("item_price>10").groupby('item_name').quantity.sum().count()

In [137]:
chipo['Price_per_item']=[x/y for x,y in zip(chipo['item_price'],chipo['quantity'])]

In [140]:
chipo[chipo['Price_per_item']>10].item_name.nunique()

0

### Step 19. What is the price of each item? 
###### Print a data frame with only two columns item_name and item_price

In [103]:
chipo.pivot_table(index=['item_name','item_price'])

Empty DataFrame
Columns: []
Index: []

In [141]:
chipo.groupby(['item_name','choice_description']).Price_per_item.mean().to_frame() #Nếu ko to_frame thì sẽ ra kiểu series

                                                                      Price_per_item
item_name         choice_description
6 Pack Soft Drink [Coke]                                                         NaN
                  [Diet Coke]                                                    NaN
                  [Lemonade]                                                     NaN
                  [Nestea]                                                       NaN
                  [Sprite]                                                       NaN
...                                                                              ...
Veggie Soft Tacos [Fresh Tomato Salsa, [Black Beans, Cheese, Sour...             NaN
                  [Fresh Tomato Salsa, [Fajita Vegetables, Rice, ...             NaN
                  [Roasted Chili Corn Salsa (Medium), [Black Bean...             NaN
                  [Roasted Chili Corn Salsa, [Fajita Vegetables, ...             NaN
                  [Tomatillo Red Chili Salsa, [Fajita Vegetables,...             NaN

[1859 rows x 1 columns]

### Step 20. Sort by the name of the item

In [144]:
chipo.sort_values(by='item_name',ignore_index=True) #ignore_index: để đặt lại index

,order_id,quantity,item_name,choice_description,item_price,revenue,Price_per_item
0,1360,2,6 Pack Soft Drink,[Diet Coke],NaN,NaN,NaN
1,148,1,6 Pack Soft Drink,[Diet Coke],NaN,NaN,NaN
2,749,1,6 Pack Soft Drink,[Coke],NaN,NaN,NaN
3,754,1,6 Pack Soft Drink,[Diet Coke],NaN,NaN,NaN
4,1076,1,6 Pack Soft Drink,[Coke],NaN,NaN,NaN
...,...,...,...,...,...,...,...
4617,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",NaN,NaN,NaN
4618,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",NaN,NaN,NaN
4619,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",NaN,NaN,NaN
4620,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",NaN,NaN,NaN
4621,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",NaN,NaN,NaN

### Step 21. What was the quantity of the most expensive item ordered?

In [ ]:
c1=chipo.groupby('item_name','item_price').agg(sum_quantity=('quantity','sum'))
c1.loc[c1['item_price']==c1['item_price'].max()].loc[:,'sum_quantity']

In [146]:
chipo[chipo.Price_per_item==chipo.Price_per_item.max()].groupby('item_name').quantity.sum()

Series([], Name: quantity, dtype: int64)

### Step 22. How many times was a Veggie Salad Bowl ordered?

In [ ]:
chipo[chipo.item_name=='Veggie Salad Bowl'].order_id.nunique()

### Step 23. How many times did someone order more than one Canned Soda?

In [ ]:
chipo[chipo.item_name=='Canned Soda'&chipo.quantity>1].order_id.nunique()

Process data - clean data
- Head/tail/sample
- describe -> distribution: count/min/max/mean. Nếu cột ít có thể visualize, boxplot
- missing value - info(): DL non_null