![](https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Pandas_logo.svg/1200px-Pandas_logo.svg.png)

# <center> BÀI 6: THỰC HÀNH CÙNG PANDAS </center>

## I. Know your dataset

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [2]:
pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv',sep='\t')

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 3. Assign it to a variable called `chipo`.

In [3]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv',sep='\t')

### Step 4. See the first 10 entries

In [4]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [5]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Step 6. What is the number of columns in the dataset?

In [6]:
len(chipo.columns)

5

### Step 7. Print the name of all the columns.

In [7]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [8]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [9]:
Best_seller = chipo['quantity'].groupby(chipo['item_name']).sum().to_frame()
Best_seller.sort_values(by=['quantity'], ascending=False).head(1)

              quantity
item_name
Chicken Bowl       761

### Step 10. For the most-ordered item, how many items were ordered?

In [10]:
Best_seller.max()

quantity    761
dtype: int64

### Step 11. What was the most ordered item in the choice_description column?

In [11]:
chipo.groupby('choice_description').quantity.sum().head(1).index[0]

'[Adobo-Marinated and Grilled Chicken, Pinto Beans, [Sour Cream, Salsa, Cheese, Cilantro-Lime Rice, Guacamole]]'

### Step 12. How many items were ordered in total?

In [12]:
chipo['quantity'].sum()

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [13]:
type(chipo.iloc[0,4])

str

In [14]:
type(chipo.item_price)

pandas.core.series.Series

#### Step 13.b. Create a lambda function and change the type of item price

In [15]:
change_type = lambda x: float(x[1:].replace(",","")) 
chipo['item_price']=chipo.item_price.apply(change_type)

#### Step 13.c. Check the item price type

In [16]:
type(chipo.iloc[0,4])

numpy.float64

### Step 14. How much was the revenue for the period in the dataset?

In [17]:
chipo.item_price.sum()

34500.16

### Step 15. How many orders were made in the period?

In [18]:
chipo['order_id'].nunique()

1834

### Step 16. What is the average revenue amount per order?

In [31]:
chipo.groupby('order_id')['item_price'].sum().mean()

18.811428571428568

### Step 17. How many different items are sold?

In [66]:
chipo['choice_description'].fillna('-', inplace = True)

In [67]:
chipo

,order_id,quantity,item_name,choice_description,item_price,combined item,price per item
0,1,1,Chips and Fresh Tomato Salsa,-,2.39,NaN,2.39
1,1,1,Izze,[Clementine],3.39,Izze[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39,Nantucket Nectar[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,-,2.39,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,"Chicken Bowl[Tomatillo-Red Chili Salsa (Hot), ...",8.49
...,...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75,"Steak Burrito[Fresh Tomato Salsa, [Rice, Black...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,"Steak Burrito[Fresh Tomato Salsa, [Rice, Sour ...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25,"Chicken Salad Bowl[Fresh Tomato Salsa, [Fajita...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75,"Chicken Salad Bowl[Fresh Tomato Salsa, [Fajita...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75,"Chicken Salad Bowl[Fresh Tomato Salsa, [Fajita...",8.75

In [69]:
chipo['combined item'] = chipo['item_name'] + chipo['choice_description']
chipo['combined item'].nunique()

1871

In [70]:
chipo['combined item']

0                           Chips and Fresh Tomato Salsa-
1                                        Izze[Clementine]
2                                 Nantucket Nectar[Apple]
3                  Chips and Tomatillo-Green Chili Salsa-
4       Chicken Bowl[Tomatillo-Red Chili Salsa (Hot), ...
                              ...
4617    Steak Burrito[Fresh Tomato Salsa, [Rice, Black...
4618    Steak Burrito[Fresh Tomato Salsa, [Rice, Sour ...
4619    Chicken Salad Bowl[Fresh Tomato Salsa, [Fajita...
4620    Chicken Salad Bowl[Fresh Tomato Salsa, [Fajita...
4621    Chicken Salad Bowl[Fresh Tomato Salsa, [Fajita...
Name: combined item, Length: 4622, dtype: object

## II. Filtering & Sorting

### Step 18. How many products cost more than $10.00?

In [71]:
chipo['price per item'] = [x/y  for x,y in zip(chipo['item_price'], chipo['quantity'])]

In [72]:
chipo[chipo['price per item'] > 10.00]['combined item'].nunique()

707

In [50]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price,combined item,price per item
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,NaN,2.39
1,1,1,Izze,[Clementine],3.39,Izze[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39,Nantucket Nectar[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,"Chicken Bowl[Tomatillo-Red Chili Salsa (Hot), ...",8.49
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98,"Chicken Bowl[Fresh Tomato Salsa (Mild), [Rice,...",10.98
6,3,1,Side of Chips,NaN,1.69,NaN,1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75,"Steak Burrito[Tomatillo Red Chili Salsa, [Faji...",11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",9.25,"Steak Soft Tacos[Tomatillo Green Chili Salsa, ...",9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",9.25,"Steak Burrito[Fresh Tomato Salsa, [Rice, Black...",9.25

### Step 19. What is the price of each item? 
###### Print a data frame with only two columns item_name and item_price

In [73]:
item_name = chipo.iloc[:,2]
item_price = chipo.iloc[:,4]

In [74]:
item_detail = pd.concat([item_name,item_price], axis =1)
item_detail

                                  item_name  item_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
4                              Chicken Bowl       16.98
...                                     ...         ...
4617                          Steak Burrito       11.75
4618                          Steak Burrito       11.75
4619                     Chicken Salad Bowl       11.25
4620                     Chicken Salad Bowl        8.75
4621                     Chicken Salad Bowl        8.75

[4622 rows x 2 columns]

### Step 20. Sort by the name of the item

In [75]:
item_detail.sort_values(by=['item_name'])

              item_name  item_price
3389  6 Pack Soft Drink       12.98
341   6 Pack Soft Drink        6.49
1849  6 Pack Soft Drink        6.49
1860  6 Pack Soft Drink        6.49
2713  6 Pack Soft Drink        6.49
...                 ...         ...
2384  Veggie Soft Tacos        8.75
781   Veggie Soft Tacos        8.75
2851  Veggie Soft Tacos        8.49
1699  Veggie Soft Tacos       11.25
1395  Veggie Soft Tacos        8.49

[4622 rows x 2 columns]

### Step 21. What was the quantity of the most expensive item ordered?

In [81]:
chipo[['quantity','item_name','price per item']][chipo['price per item']==chipo['price per item'].max()].groupby('item_name').

### Step 22. How many times was a Veggie Salad Bowl ordered?

In [83]:
chipo[chipo['item_name']=='Veggie Salad Bowl'].order_id.nunique()

18

### Step 23. How many times did someone order more than one Canned Soda?

In [84]:
chipo.loc[(chipo['item_name']=='Canned Soda') & (chipo['quantity']>1)].count()

order_id              20
quantity              20
item_name             20
choice_description    20
item_price            20
combined item         20
price per item        20
dtype: int64