![](https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Pandas_logo.svg/1200px-Pandas_logo.svg.png)

# <center> BÀI 6: THỰC HÀNH CÙNG PANDAS </center>

## I. Know your dataset

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [3]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

### Step 3. Assign it to a variable called `chipo`.

In [4]:
chipo = pd.read_csv(url, sep = '\t')

In [ ]:
chipo = pd.read_csv(url, delimiter = '\t')

### Step 4. See the first 10 entries

In [5]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [6]:
chipo.count()

order_id              4622
quantity              4622
item_name             4622
choice_description    3376
item_price            4622
dtype: int64

In [7]:
chipo.shape[0]

4622

In [9]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Step 6. What is the number of columns in the dataset?

In [8]:
chipo.shape[1]

5

In [11]:
len(chipo.columns)

5

### Step 7. Print the name of all the columns.

In [12]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [13]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [14]:
Best_seller = chipo['quantity'].groupby(chipo['item_name']).sum().to_frame()
Best_seller.sort_values(by=['quantity'], ascending=False).head(1)

              quantity
item_name
Chicken Bowl       761

In [20]:
chipo.groupby('item_name').quantity.sum().nlargest(1)

item_name
Chicken Bowl    761
Name: quantity, dtype: int64

### Step 10. For the most-ordered item, how many items were ordered?

In [21]:
chipo.groupby('item_name').quantity.sum().nlargest(1).iloc[0] #nsmallest()

761

In [23]:
chipo.groupby('item_name').quantity.sum().sort_values(ascending=False).iloc[0]

761

### Step 11. What was the most ordered item in the choice_description column?

### Step 12. How many items were ordered in total?

In [24]:
chipo.head(5)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [25]:
chipo.item_name.unique()

array(['Chips and Fresh Tomato Salsa', 'Izze', 'Nantucket Nectar',
       'Chips and Tomatillo-Green Chili Salsa', 'Chicken Bowl',
       'Side of Chips', 'Steak Burrito', 'Steak Soft Tacos',
       'Chips and Guacamole', 'Chicken Crispy Tacos',
       'Chicken Soft Tacos', 'Chicken Burrito', 'Canned Soda',
       'Barbacoa Burrito', 'Carnitas Burrito', 'Carnitas Bowl',
       'Bottled Water', 'Chips and Tomatillo Green Chili Salsa',
       'Barbacoa Bowl', 'Chips', 'Chicken Salad Bowl', 'Steak Bowl',
       'Barbacoa Soft Tacos', 'Veggie Burrito', 'Veggie Bowl',
       'Steak Crispy Tacos', 'Chips and Tomatillo Red Chili Salsa',
       'Barbacoa Crispy Tacos', 'Veggie Salad Bowl',
       'Chips and Roasted Chili-Corn Salsa',
       'Chips and Roasted Chili Corn Salsa', 'Carnitas Soft Tacos',
       'Chicken Salad', 'Canned Soft Drink', 'Steak Salad Bowl',
       '6 Pack Soft Drink', 'Chips and Tomatillo-Red Chili Salsa', 'Bowl',
       'Burrito', 'Crispy Tacos', 'Carnitas Crispy Tacos', 'Steak Salad',
       'Chips and Mild Fresh Tomato Salsa', 'Veggie Soft Tacos',
       'Carnitas Salad Bowl', 'Barbacoa Salad Bowl', 'Salad',
       'Veggie Crispy Tacos', 'Veggie Salad', 'Carnitas Salad'],
      dtype=object)

In [26]:
chipo.item_name.nunique()

50

In [27]:
len(chipo.item_name.unique())

50

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [28]:
chipo.head(5)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [29]:
type(chipo.item_price.iloc[0])

str

In [30]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [33]:
chipo.item_price.iloc[0]

'$2.39 '

#### Step 13.b. Create a lambda function and change the type of item price

In [38]:
# chuyen doi dau $ thanh ''
# ep kieu ve float 

def convert(x):
    return x.replace('$', '')

In [36]:
convert('$2.39')

'2.39'

In [37]:
def convert(x):
    return float(x[1:]).replace('$', '') 
# hoac return float(x.replace('$',''))

In [39]:
convert1 = lambda x : float(x.replace('$',''))

In [40]:
convert1('2.39')

2.39

#### Step 13.c. Check the item price type

In [41]:
chipo.item_price = chipo.item_price.apply(convert1) 
 #hoac chipo['item_price'] = chipo.item_price.apply(convert1)

In [42]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 180.7+ KB

### Step 14. How much was the revenue for the period in the dataset?

In [43]:
chipo.item_price.sum()

34500.16

### Step 15. How many orders were made in the period?

In [44]:
chipo['order_id'].nunique()

1834

### Step 16. What is the average revenue amount per order?

In [46]:
chipo.item_price.sum() / chipo['order_id'].nunique()

18.811428571428575

### Step 17. How many different items are sold?

## II. Filtering & Sorting

### Step 18. How many products cost more than $10.00?

In [47]:
chipo.head(5)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

In [49]:
chipo['price_per_item'] = [x/y for x,y in zip(chipo['item_price'], chipo['quantity'])]
chipo.head(5)

,order_id,quantity,item_name,choice_description,item_price,price_per_item
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,8.49

In [52]:
chipo[chipo['price_per_item'] > 10].item_name.nunique()

25

### Step 19. What is the price of each item? 
###### Print a data frame with only two columns item_name and item_price

In [53]:
chipo.head(5)

,order_id,quantity,item_name,choice_description,item_price,price_per_item
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,8.49

In [54]:
chipo.groupby(['item_name', 'choice_description']).price_per_item.mean()

item_name          choice_description
6 Pack Soft Drink  [Coke]                                                                                                                6.49
                   [Diet Coke]                                                                                                           6.49
                   [Lemonade]                                                                                                            6.49
                   [Nestea]                                                                                                              6.49
                   [Sprite]                                                                                                              6.49
                                                                                                                                        ...
Veggie Soft Tacos  [Fresh Tomato Salsa, [Black Beans, Cheese, Sour Cream, Lettuce]]                                                      8.75
                   [Fresh Tomato Salsa, [Fajita Vegetables, Rice, Black Beans, Pinto Beans, Cheese, Sour Cream, Guacamole, Lettuce]]    11.25
                   [Roasted Chili Corn Salsa (Medium), [Black Beans, Fajita Veggies, Cheese, Sour Cream, Lettuce]]                       8.49
                   [Roasted Chili Corn Salsa, [Fajita Vegetables, Black Beans, Pinto Beans, Cheese, Lettuce]]                            8.75
                   [Tomatillo Red Chili Salsa, [Fajita Vegetables, Rice, Black Beans, Cheese, Guacamole, Lettuce]]                      11.25
Name: price_per_item, Length: 1859, dtype: float64

In [56]:
chipo.groupby(['item_name', 'choice_description']).price_per_item.mean().to_frame()

                                                                      price_per_item
item_name         choice_description
6 Pack Soft Drink [Coke]                                                        6.49
                  [Diet Coke]                                                   6.49
                  [Lemonade]                                                    6.49
                  [Nestea]                                                      6.49
                  [Sprite]                                                      6.49
...                                                                              ...
Veggie Soft Tacos [Fresh Tomato Salsa, [Black Beans, Cheese, Sour...            8.75
                  [Fresh Tomato Salsa, [Fajita Vegetables, Rice, ...           11.25
                  [Roasted Chili Corn Salsa (Medium), [Black Bean...            8.49
                  [Roasted Chili Corn Salsa, [Fajita Vegetables, ...            8.75
                  [Tomatillo Red Chili Salsa, [Fajita Vegetables,...           11.25

[1859 rows x 1 columns]

### Step 20. Sort by the name of the item

In [58]:
chipo.sort_values(by='item_name')

,order_id,quantity,item_name,choice_description,item_price,price_per_item
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98,6.49
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49,6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49,6.49
...,...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75,8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75,8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49,8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49,8.49

In [60]:
chipo.sort_values(by='item_name', ignore_index=True)

,order_id,quantity,item_name,choice_description,item_price,price_per_item
0,1360,2,6 Pack Soft Drink,[Diet Coke],12.98,6.49
1,148,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
2,749,1,6 Pack Soft Drink,[Coke],6.49,6.49
3,754,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
4,1076,1,6 Pack Soft Drink,[Coke],6.49,6.49
...,...,...,...,...,...,...
4617,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75,8.75
4618,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75,8.75
4619,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49,8.49
4620,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
4621,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49,8.49

### Step 21. What was the quantity of the most expensive item ordered?

In [ ]:
# most expensive item df_name[condition]
# count the quantity

In [63]:
chipo[chipo.price_per_item == chipo.price_per_item.max()].quantity.sum()

30

In [65]:
chipo[chipo.price_per_item == chipo.price_per_item.max()].groupby('item_name').quantity.sum()

item_name
Barbacoa Salad Bowl     5
Carnitas Salad Bowl     4
Steak Salad Bowl       21
Name: quantity, dtype: int64

### Step 22. How many times was a Veggie Salad Bowl ordered?

In [68]:
# Veggie Salad Bowl 
# Count 
chipo[chipo.item_name == 'Veggie Salad Bowl'].order_id.nunique()

18

### Step 23. How many times did someone order more than one Canned Soda?

In [77]:
# item_name Canned Soda 
# quantity > 1 
chipo[[chipo.item_name == 'Canned Soda'].quantity.nunique()] > 10.count()

SyntaxError: invalid syntax (<ipython-input-77-2f0bb6f19c14>, line 3)