# <center> Bài tập về nhà buổi 2: Giới thiệu về PYTHON </center>

### Bài 1: Cho trước 1 list chứa các phần tử như sau: 
> `li = [100, 300, 200, 400, 500, 200]`
#### 1.1 Đảo ngược list trên

In [1]:
li=[100, 300, 200, 400, 500, 200]
li.reverse()
li

[200, 500, 400, 200, 300, 100]

#### 1.2 Sắp xếp các phần tử trong list trên theo thứ tự từ lớn đến bé

In [3]:
li.sort(reverse=True)
li

[500, 400, 300, 200, 200, 100]

In [ ]:
#li.sort() -> sort in ascending order
#li.reverse() -> sort in descending order

#### 1.3 Thêm giá trị của list `li1 = [150, 350, 250]` vào list `li` sao cho
> `li = [500, 400, 300, 200, 200, 100,150, 350, 250]`

In [4]:
li1=[150, 350, 250]
li.extend(li1)
li

[500, 400, 300, 200, 200, 100, 150, 350, 250]

### Bài 2: Cho trước 2 set 
> `set1 = {10, 20, 30, 40, 50}` 

> `set2 = {30, 40, 50, 60, 70}`

#### 2.1 Trả về `set3` chứa các phần tử trùng nhau trong 2 sets trên

In [5]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set3 = set1.intersection(set2)
set3

{30, 40, 50}

#### 2.2 Kiểm tra xem `set1` có phải là tập con của `set2` hay không?

In [6]:
set1.issubset(set2)

False

### Bài 3: Cho trước tuples 
> `tu = ("Python", [10, 20, 30], (5, 15, 25))`

> `tu1 = (11,22) `

> `tu2 = (33,44)`

#### 3.1 Trả về giá trị `15` từ `tu`

In [7]:
tu = ("Python", [10, 20, 30], (5, 15, 25))

tu[2][1]

15

#### 3.2 Hoán đổi giá trị của `tu1` và `tu2` thành
> `tu2 = (11,22)`

> `tu1 = (33,44)`

In [14]:
tu1 = (11,22) 
tu2 = (33,44)
tu1,tu2=tu2,tu1

In [15]:
tu1

(33, 44)

In [16]:
tu2

(11, 22)

### Bài 4: Cho 2 danh sách 
> `student = ['Hanh','Đức','Hoà','Trâm']` 

> `age = [18, 20, 14, 16]`

#### 4.1 Tạo 1 từ điển từ danh sách trên

In [18]:
dict={'Hanh': 18, 'Đức': 20, 'Hoà': 14, 'Trâm': 16}
dict

{'Hanh': 18, 'Đức': 20, 'Hoà': 14, 'Trâm': 16}

#### 4.2  Loại thông tin học viên `Hanh` ra khỏi dictionary

In [19]:
dict.pop('Hanh')
dict

{'Đức': 20, 'Hoà': 14, 'Trâm': 16}