## Bài 1.

Viết một chương trình tính giai thừa của một số nguyên dương n. Với n được nhập từ bàn phím. Ví dụ, n = 8 thì kết quả đầu ra phải là `1*2*3*4*5*6*7*8` = 40320.

In [20]:
def factorial(n):
    sum=1
    for i in range(1,n+1):
        sum = sum*i
    return sum

In [ ]:
# Testing -> Unit test
n = 5
assert factorial(n) == 120, "Wrong answer, please calculate again"

In [22]:
factorial(6)

720

## Bài 2.

Viết chương trình tính tổng của các chữ số của môt số nguyên n trong Python. Số nguyên dương n được nhập từ bàn phím. Với n = 1234, tổng các chữ số: 1 + 2 + 3 + 4 = 10

In [64]:
def sum_all(number):
    total = 0
    while number > 0:
        total += number % 10
        number = number // 10
    return total

In [66]:
sum_all(341036)

17

In [ ]:
# Testing
number = 34103
assert sum_all(number) == 11, "Wrong answer, please calculate again"

## Bài 3.

Tìm giá trị lớn nhất của một list hoặc tuple nhập vào

In [23]:
def maximum(li):
    a = 0
    for i in li:
        if a<i:
            a = i
    return a

In [ ]:
def maximum(li):
    b = li[0]
    for i in li[1: ]:
        if b < i:
            b = i
    return b

In [39]:
number1 = (3,5,71,2,9)
maximum(number1)

71

In [24]:
# Testing
number = [1, 2, 6, 8, 10]
assert maximum(number) == 10, "Wrong answer, please calculate again"

## Bài 4.

Tìm giá trị lớn thứ nhì từ một list hoặc tuple nhập vào

In [71]:
#Bước 1: loại bỏ trùng lặp (nếu có) của các số trong list hoặc tuple: Dùng list(set()) hoặc tạo ra function mới
#Bước 2: Tạo hàm 

def second_maximum(li1):
    if len(sorted(set(li1))) > 1:
        li2 = sorted(set(li1))[-2]
    return li2

In [72]:
li = [2,4,7,4,4,1,3,92]
second_maximum(li)

7

In [ ]:
#Bước 1: Tạo function loại bỏ trùng lặp
def remove_duplicate(n):
    newlist = []
    for i in n:
        if i not in newlist:
            newlist.append(i)
    return newlist

In [73]:
# Testing
number = [1, 2, 6, 8, 10]
assert second_maximum(number) == 8, "Wrong answer, please calculate again"

## Bài 5.

Định nghĩa một hàm có input là 2 chuỗi và trả về chuỗi có độ dài lớn hơn. Nếu 2 chuỗi có chiều dài như nhau thì trả tất cả các chuỗi dưới dạng tuple

In [32]:
def greater_string(str_1, str_2):
    if len(str_1) == len(str_2):
        return (str_1, str_2)
    elif len(str_1) > len(str_2):
        return str_1
    else:
        return str_2

In [36]:
str_1 = "My name is"
str_2 = "My university"

str_1 = "My name is"
str_2 = "My name ar"
greater_string(str_1, str_2)

('My name is', 'My name ar')

In [ ]:

# Test 1
str_1 = "My name is"
str_2 = "My university"

assert len(greater_string(str_1, str_2)) == len(str_2), "Wrong answer, please code again"


#Test 2

str_1 = "My name is"
str_2 = "My name ar"

assert greater_string(str_1, str_2) == (str_1, str_2), "Wrong answer, please code again"

## Bài 6.

Loại bỏ các giá trị trùng từ chuỗi nhập vào, nhưng vẫn giữ thứ tự.

Ví dụ: aaabbbbcccddd1111 --> abcd1

In [42]:
def remove_duplicated(str_1):
    ans = ""
    for i in str_1:
        if i not in ans:
            ans+=i   
    return ans

In [43]:
remove_duplicated("hellomoinguoi")

'helomingu'

In [ ]:
# Testing
str_1 = "cccccddddeeeeffff22222"

assert remove_duplicated(str_1) == "cdef2"