In [40]:
s = "Hello World"
a = s.strip()
range(len(a))

range(0, 10)

In [23]:
def length_of_last_word(s):
        words = s.split()
        if len(words) == 0:
            return 0
        return len(words[-1])

In [18]:
a[5]

' '

In [26]:
length_of_last_word(s)

4

In [27]:
b = s.split()
b

['Hello', 'Worl']

In [28]:
def lengthOfLastWord(a):
    l = 0
 
    # String a is 'final'-- can not be modified
    # So, create a copy and trim the spaces from
    # both sides
    x = a.strip()
 
    for i in range(len(x)):
        if x[i] == " ":
            l = 0
        else:
            l += 1
    return l

In [29]:
lengthOfLastWord(s)

4

In [45]:
x=s.strip('ll')
x

'Hello Wor'

In [3]:
n = 234
str(n)

'234'

In [43]:
def find_digits(n): 
    a = str(n)
    b = []
    for i in a:
        if i!='0' and n%int(i) == 0:
            b.append(i)
    return len(b)

In [46]:
n=100
find_digits(n)

1

In [47]:
range(20,40)

range(20, 40)

In [4]:
def finddigits(n): 
    return len([1 for i in str(n) if i!='0' and n%int(i)==0])

In [41]:
n= 123723
str(n)

'123723'

In [40]:
n = 123723
finddigits(n)

3

In [9]:
import math as math

In [10]:
math.log10(2)

0.3010299956639812

In [11]:
2**0.3010299

1.2320236069944805

In [13]:
def count_digit(number):
    if number >= 10:
        count = 2
    else:
        count = 1
    while number//10 > 9:
        count += 1
        number = number//10
    return count

In [25]:
n =13
count_digit(n)

2

In [34]:
n=124
find_digits(n)

TypeError: append() takes exactly one argument (0 given)

In [42]:
n = "Hello World"
len(n)

11

In [48]:
import pandas as pd

In [49]:
users = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', sep='|')
users.head(10)

   user_id  age gender     occupation zip_code
0        1   24      M     technician    85711
1        2   53      F          other    94043
2        3   23      M         writer    32067
3        4   24      M     technician    43537
4        5   33      F          other    15213
5        6   42      M      executive    98101
6        7   57      M  administrator    91344
7        8   36      M  administrator    05201
8        9   29      M        student    01002
9       10   53      M         lawyer    90703

In [63]:
# gender = F
# age between 20 and 40
# occupation = technician
cd = (users.gender == "F") & (users.occupation == "technician") 
users.loc[cd].head(5)

     user_id  age gender  occupation zip_code
937      938   38      F  technician    55038

AttributeError: 'Series' object has no attribute 'info'