![](https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Pandas_logo.svg/1200px-Pandas_logo.svg.png)

# <center> LESSON 5: Introduction to PANDAS </center>

## 1. INTRODUCTION

### 1.1 What is Pandas?

`Pandas = Panel Data`

### 1.2 Installation

- Cài đặt khi tạo môi trường ảo:
```
conda create -n hanh python=3.7 pandas
```
- Cài đặt sau khi tạo xong môi trường ảo:
```
conda install pandas
```
hoặc 
```
pip install pandas
```

### 1.3 Import

In [11]:
import pandas as pd

**Reference**: 
- [Pandas Cheatsheet](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf)
- [Python for Data Analysis](https://bedford-computing.co.uk/learning/wp-content/uploads/2015/10/Python-for-Data-Analysis.pdf)

## 2. BASICS

### 2.1 Objects in Pandas

- **DataFrame**: table, `pd.DataFrame()`
- **Series**: column, `pd.Series()`

![](https://media.geeksforgeeks.org/wp-content/cdn-uploads/creating_dataframe1.png)
![](https://analyticssavvy.com/wp-content/uploads/2020/05/series-and-dataframe.png)

#### 2.1.1 How to create a DataFrame

1. Tạo ra 1 DataFrame rỗng
cônh thức: pd.DataFrame(data , index = [tên hàng], columns = [Tên cột])

In [3]:
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

2. Tạo ra 1 DataFrame từ dict
- Một key có nhiều value
- Dict tạo theo cột với key tên cột và value là những gía trị hàng

In [9]:
dict1 = {'name':['Cuong','Hanh','Nghia'],
        'age':[10,20,40],
        'university':['MIT','VanLang', 'HoaSen']}
dict1 = pd.DataFrame(dict1, index = ['Student 1' , 'Student 2' , 'Student 3'])
dict1

            name  age university
Student 1  Cuong   10        MIT
Student 2   Hanh   20    VanLang
Student 3  Nghia   40     HoaSen

In [8]:
dict1 = {'name':['Cuong','Hanh','Nghia'],
        'age':[10,20,40],
        'university':['MIT','VanLang', 'HoaSen']}
dict1 = pd.DataFrame(dict1, index = [f'Student {i}' for i in range(1,4)])
dict1

            name  age university
Student 1  Cuong   10        MIT
Student 2   Hanh   20    VanLang
Student 3  Nghia   40     HoaSen

3. Tạo ra 1 DataFrame từ list của list

In [18]:
li = [['cuong',10,'MIT'],['Hanh',20,'VanLang'],['Nghia',40,'HoaSen']]
pd.DataFrame(li, columns = ['Name','age','university'], index = [f'Student {i}' for i in range(1,4)])

            Name  age university
Student 1  cuong   10        MIT
Student 2   Hanh   20    VanLang
Student 3  Nghia   40     HoaSen

4. Tạo ra 1 DataFrame từ zip

In [22]:
name = ['Cuong','Hanh','Nghia']
age =  [10,20,40]
university = ['MIT','VanLang', 'HoaSen']
pd.DataFrame(zip(name,age,university),index = [f'Student {i}' for i in range(1,4)],  columns = ['Name','age','university'])

            Name  age university
Student 1  Cuong   10        MIT
Student 2   Hanh   20    VanLang
Student 3  Nghia   40     HoaSen

5. Tạo từ 1 chuỗi numpy

In [28]:
import numpy as np
pd.DataFrame(np.linspace(1,10,10).reshape(2,5))

     0    1    2    3     4
0  1.0  2.0  3.0  4.0   5.0
1  6.0  7.0  8.0  9.0  10.0

#### 2.1.2 How to create a Series
- Tạo bằng hàm pd.series()
- Tạo bằng lấy 1 cột trong DataFrame

In [33]:
pd.Series({'name':['Cuong','Hanh','Nghia']}) #Tạo bằng hàm pd.Series

name    [Cuong, Hanh, Nghia]
dtype: object

In [35]:
dict1['name'] #Tạo bằng lấy 1 hàng của DataFrame Cách 1

Student 1    Cuong
Student 2     Hanh
Student 3    Nghia
Name: name, dtype: object

In [37]:
dict1.name #Tạo bằng lấy 1 hàng của DataFrame Cách 2

Student 1    Cuong
Student 2     Hanh
Student 3    Nghia
Name: name, dtype: object

### Tạo sao phải làm 2 cách
- Cách 1 có thể lấy thêm cột nữa
- Cách 1 Nêú tên có kh cách vẫn lấy dc, cách 2 ko thể

### 2.2 I/O

- Link: https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data
### Cách đọc (tải file)
- Công thức: pd.read_{Tên kiểu file}: pd.read_csv(), pd.read_sql(), pd.read_excel()
### Cách lưu (lưu file)
- Công thức: pd.to_{Tên kiểu file}: pd.to_csv(), pd.to_sql(), pd.to_excel()

In [42]:
df = pd.read_csv('Ecommerce Purchases')
df.head(5) # đọc 5 hàng đầu

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

In [41]:
df = pd.read_csv('Ecommerce Purchases')
df.tail(5) # đọc 5 hàng cuối

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
9995,"966 Castaneda Locks\nWest Juliafurt, CO 96415",92 XI,PM,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/5352 ...,Randall-Sloan,342945015358701,03/22,838,JCB 15 digit,iscott@wade-garner.com,Printmaker,29.73.197.114,it,82.21
9996,"832 Curtis Dam Suite 785\nNorth Edwardburgh, T...",41 JY,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Hale, Collins and Wilson",210033169205009,07/25,207,JCB 16 digit,mary85@hotmail.com,Energy engineer,121.133.168.51,pt,25.63
9997,Unit 4434 Box 6343\nDPO AE 28026-0283,74 Zh,AM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Anderson Ltd,6011539787356311,05/21,1,VISA 16 digit,tyler16@gmail.com,Veterinary surgeon,156.210.0.254,el,83.98
9998,"0096 English Rest\nRoystad, IA 12457",74 cL,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_8;...,Cook Inc,180003348082930,11/17,987,American Express,elizabethmoore@reid.net,Local government officer,55.78.26.143,es,38.84
9999,"40674 Barrett Stravenue\nGrimesville, WI 79682",64 Hr,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gec...,Greene Inc,4139972901927273,02/19,302,JCB 15 digit,rachelford@vaughn.com,"Embryologist, clinical",176.119.198.199,el,67.59

In [47]:
iris = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data', header = None) #header = none nghĩa là ko sử dụng giá trị làm header
iris.head(5)

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

### 2.3 Indexing

Chọn tất cả các dòng (slicing):
- `loc`: location `df.loc[row_label,col_label]`, `series.loc[row_label]`
- `iloc`: index location `df.iloc[row_index,col_index]`, `series.iloc[row_index]`

Chọn 1 cell:
- `at`:  `df.at[row_label,col_label]`
- `iat`: `df.iat[row_index,col_index]`

### 2.4 Masking

### 2.5 Operations

#### 2.5.1 Groupby

![](https://blog.dask.org/images/split-apply-combine.png)

#### 2.5.2 Pivot

#### 2.5.3 Others

|Merge methods| SQL Join Name | Meaning| _merge|
|-|-|-|-|
|left| LEFT OUTER JOIN|Chỉ sử dụng keys bên trái|left_only|
|right| RIGHT OUTER JOIN|Chỉ sử dụng keys bên phải|right_only|
|outer|FULL OUTER JOIN|Sử dụng keys của cả 2 dataframes|both|
|inner|INNER JOIN|Chỉ sử dụng keys giao nhau của 2 dataframes|both|

![](https://lh3.googleusercontent.com/-n76c6dtr5sw/YBO5d-3PzGI/AAAAAAAAAh8/xiT6YIzePLEXArb8uU1f1vgg8JRXYeg8ACLcBGAsYHQ/image.png)