![](https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Pandas_logo.svg/1200px-Pandas_logo.svg.png)

# <center> LESSON 5: Introduction to PANDAS </center>

## 1. INTRODUCTION

### 1.1 What is Pandas?

`Pandas = Panel Data`

nghĩa là bảng dữ liệu, thư viện mã nguồn mở để xử lý dữ liệu, hoàn toàn đọc được source course
pandas github (search), sử dụng hàng ngàyd
đọc thư viện documentation of pandas. pandas-dev.pandas để đọc
chia hai buổi:
buổi 1: hàm cơ bản
buôi 2: hàm phức tạp và áp dụng với tập dữ liệu để phân tích
pandas được ưa chuộng vì: khi phải làm việc với dữ liệu có cấu trúc (dạng bảng, chuỗi thời gian -time series, chuỗi và xây dựng mô hình, sidekicler)
phù hợp vs dạng dữ liệu khác nhau (SQL, Excel, csv), 
ma trận ít chiều cũng có thể sử dụng pandas, 
ngoài ra, giúp dễ dàng thao tác, phân tích, trực quan hóa dữ liệu-plot hình ảnh cơ bản vs pandas. hoặc dùng matpotlit
...

### 1.2 Installation

- Cài đặt khi tạo môi trường ảo:
```
conda create -n hanh python=3.7 pandas
```
- Cài đặt sau khi tạo xong môi trường ảo:
```
conda install pandas
```
hoặc 
```
pip install pandas
```

### 1.3 Import

In [1]:
import pandas as pd

**Reference**: 
- [Pandas Cheatsheet](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf)
- [Python for Data Analysis](https://bedford-computing.co.uk/learning/wp-content/uploads/2015/10/Python-for-Data-Analysis.pdf)

## 2. BASICS

### 2.1 Objects in Pandas

- **DataFrame**: table, `pd.DataFrame()`
- **Series**: column, `pd.Series()`

![](https://media.geeksforgeeks.org/wp-content/cdn-uploads/creating_dataframe1.png)
![](https://analyticssavvy.com/wp-content/uploads/2020/05/series-and-dataframe.png)

#### 2.1.1 How to create a DataFrame

1. Tạo ra 1 DataFrame rỗng

In [2]:
#đặt viết tắt df
df= pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [3]:
type(df)

pandas.core.frame.DataFrame

2. Tạo ra 1 DataFrame từ dict

In [4]:
dict1={'name': ['cuong','Hoa', 'mai', 'nghia'], 'age': [10, 5, 18, 20], 'university': ['MIT', 'HV', 'NYU', 'YONSI']}
#tạo 1 dict1 thì sử dụng syntax, key và value là unique, value có thể là 1 list, các cặp key cùng phần tử= lưu ý
# lưu ý có thể đổi tên index or colunm
df1= pd.DataFrame(dict1, index=[f'student{i}' for i in range (1,5)])
df1

           name  age university
student1  cuong   10        MIT
student2    Hoa    5         HV
student3    mai   18        NYU
student4  nghia   20      YONSI

3. Tạo ra 1 DataFrame từ list của list

In [5]:
li= [['Cuong',10, 'MIT'], ['MAI', 20, 'Harvard'], ['pha', 25, 'NYU']]
df2= pd.DataFrame(li, columns =['name', 'age', 'university'])
df2

    name  age university
0  Cuong   10        MIT
1    MAI   20    Harvard
2    pha   25        NYU

4. Tạo ra 1 DataFrame từ zip

In [6]:
name= ['cuong','Hoa', 'mai', 'nghia']
age= [10, 5, 18, 20]
university= ['MIT', 'HV', 'NYU', 'YONSI']
# zip giúp match từng phần tử theo index trên từng cái list với nhau, k cần phản convert sang dạng li
df3= pd.DataFrame(list(zip(name, age, university)))
df3
#add kiểu nó về 1 trong 4 cấu trúc dữ liệu mà đã học thì mới thì mới đọc được thành phần trong zip => list(zip())
#thêm thông số column
# thuần dữ liệu dạng bảng

       0   1      2
0  cuong  10    MIT
1    Hoa   5     HV
2    mai  18    NYU
3  nghia  20  YONSI

5. Tạo từ 1 chuỗi numpy

In [7]:
import numpy as np
df4= pd.DataFrame(np.linspace(1,16, 16).reshape(4, 4))
df4

      0     1     2     3
0   1.0   2.0   3.0   4.0
1   5.0   6.0   7.0   8.0
2   9.0  10.0  11.0  12.0
3  13.0  14.0  15.0  16.0

mình hoàn toàn có thể đọc hiểu lỗi, thì hỏi google "trang từ điển sống của developer"; stackoverflow.com để check lỗi cho nhiều ngôn ngữ khác nhau., chủ động đặt câu hỏi lên trên này. sẽ có nhà phát triển khác biết cách sửa thì họ sẽ trả lời để tham khảo và áp dụng vào case của mình

#### 2.1.2 How to create a Series

series tương ứng với cột: duy nhất
có hai cách:
    tạo series độc lập, truyền list duy nhất

In [8]:
type(pd.Series({'name':['Cuong', 'Nghia', 'Mai']}))

pandas.core.series.Series

In [9]:
df2 # muốn sử dụng cột name, thì có thể dùng series, gọi dataframe[tên của cột muốn sử dụng]

    name  age university
0  Cuong   10        MIT
1    MAI   20    Harvard
2    pha   25        NYU

In [10]:
df2['name'] # đây là cách 1

0    Cuong
1      MAI
2      pha
Name: name, dtype: object

In [11]:
df2.name #cách 2, để lấy cột.

0    Cuong
1      MAI
2      pha
Name: name, dtype: object

tại sao lại có hai cách tạo tên =series như vậy? nếu có chức năng như nhau?
=>muốn lấy nhiều hơn 1 cột
tên liền nhau, k có dấu space thì có thể dùng hai cách, nhưng nếu tên của column cach nhau, thì c2 không hiểu được và k lấy được dữ liệu trong cột

In [12]:
df2['name'],['age']

(0    Cuong
 1      MAI
 2      pha
 Name: name, dtype: object,
 ['age'])

### 2.2 I/O

Link: https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data

dạng bảng có nhiều cách khác nhau để đọc dữ liệu bảng:

pd.read_{tên_kieu_file}: pd.read_csv(), pd.read_excel, pd.read_sql()
muốn save thì dùng:

pd.to_{ten_kieu_file}: pd.to_csv(), to_excel()
- csv= commas seperated value
- tsv= tab separated value
- data cũng là dạng txt
- txt (csv, tsv là dạng txt cách nhau bởi dấu phẩy, hoặc tab), không giới hạn truyền vào bao nhiêu dòng, đọc và save thì cùng 1 file nhẹ hơn rất nhiều khi save dưới dạng excel.
- excel giới hạn số dòng nhập vào.
để đọc được file csv, sử dụng câu lệnh
df= pd.read_csv(trỏ path của file đã lưu)

In [13]:
df= pd.read_csv('Ecommerce Purchases')
df.head(5)# đọc 5 dòng đầu, df.sample(5) lấy 5 mẫu random, df.tail() lấy bao nhiêu dòng cuối

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\r\nAlexisborough, NE ...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\r\nSouth John, TN...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\r\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\r\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\r\nNew Cynthia, TX...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

In [14]:
#đọc file trên internet
iris= pd.read_csv('iris.data', header= None) #file này đã lưu về local máy rồi.
iris

       0    1    2    3               4
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

In [15]:
#iris=pd.read_csv(truyền link vào) => đỡ mất thêm bộ nhớ
#iris.head(5)

trong Python có xây sẵn sample data, ngoài hai cách trên, hoàn toàn có thể load từ các thư viện đó
vd: seabon = học về data visualization.

In [18]:
import seaborn as sns
iris2= sns.load_dataset('iris') 
# function hỗ trợ sample để làm quen vs phân tích dữ liệu, hàm này cần truyền vào cái gì "tên dataset"
#link github có đuôi csv (seaborn data), để thực hành phân tích dữ liệu
iris2.head(5)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [19]:
iris.to_csv('sample_iris.csv')

### 2.3 Indexing

Chọn tất cả các dòng (slicing):
- `loc`: location `df.loc[row_label,col_label]`, `series.loc[row_label]`
- `iloc`: index location `df.iloc[row_index,col_index]`, `series.iloc[row_index]`

Chọn 1 cell:
- `at`:  `df.at[row_label,col_label]`
- `iat`: `df.iat[row_index,col_index]`

### 2.4 Masking

### 2.5 Operations

#### 2.5.1 Groupby

![](https://blog.dask.org/images/split-apply-combine.png)

#### 2.5.2 Pivot

#### 2.5.3 Others

|Merge methods| SQL Join Name | Meaning| _merge|
|-|-|-|-|
|left| LEFT OUTER JOIN|Chỉ sử dụng keys bên trái|left_only|
|right| RIGHT OUTER JOIN|Chỉ sử dụng keys bên phải|right_only|
|outer|FULL OUTER JOIN|Sử dụng keys của cả 2 dataframes|both|
|inner|INNER JOIN|Chỉ sử dụng keys giao nhau của 2 dataframes|both|

![](https://lh3.googleusercontent.com/-n76c6dtr5sw/YBO5d-3PzGI/AAAAAAAAAh8/xiT6YIzePLEXArb8uU1f1vgg8JRXYeg8ACLcBGAsYHQ/image.png)