# Ex - GroupBy

### Introduction:

GroupBy can be summarized as Split-Apply-Combine.

### Import the necessary libraries

In [2]:
import pandas as pd

### Import the dataset & Assign it to a variable called drinks.

In [3]:
drinks = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv')
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

### Average 'beer_servings' for each continent?

In [13]:
drinks.groupby('continent')['beer_servings'].mean()

continent
AF     61.471698
AS     37.045455
EU    193.777778
OC     89.687500
SA    175.083333
Name: beer_servings, dtype: float64

### For each continent, print the statistics for wine consumption.

In [22]:
drinks.groupby('continent')['wine_servings'].count()
drinks.groupby('continent')['beer_servings'].mean()
drinks.groupby('continent')['beer_servings'].max()
drinks.groupby('continent')['beer_servings'].min()
drinks.groupby('continent')['beer_servings'].std()

continent
AF    80.557816
AS    49.469725
EU    99.631569
OC    96.641412
SA    65.242845
Name: beer_servings, dtype: float64

### Print the mean alcohol consumption per continent for every column

In [23]:
drinks.groupby('continent').mean()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,61.471698,16.339623,16.264151,3.007547
AS,37.045455,60.840909,9.068182,2.170455
EU,193.777778,132.555556,142.222222,8.617778
OC,89.687500,58.437500,35.625000,3.381250
SA,175.083333,114.750000,62.416667,6.308333

### Print the median alcohol consumption per continent for every column

In [24]:
drinks.groupby('continent')['beer_servings'].median()

continent
AF     32.0
AS     17.5
EU    219.0
OC     52.5
SA    162.5
Name: beer_servings, dtype: float64

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame

In [28]:
drinks.groupby('continent')['spirit_servings'].mean()
drinks.groupby('continent')['spirit_servings'].min()
drinks.groupby('continent')['spirit_servings'].max()

continent
AF    152
AS    326
EU    373
OC    254
SA    302
Name: spirit_servings, dtype: int64